// =======================================================================
// Layout
// =======================================================================

.o-grid {
  .c-masthead, .c-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .c-masthead .c-cta--text {
    display: none;
  }
  .c-section--collage {
    display: flex;
    flex-direction: column;
    .c-card--diabetik {
      order: 5;
    }
    .c-card--helpper {
      order: 2;
    }
    .c-card--immobrown {
      order: 6;
    }
    .c-card--realo {
      order: 3;
    }
    .c-card--scorecard {
      order: 1;
    }
    .c-card--shelf {
      order: 4;
    }
  }
  @media(min-width: $u-layout-break-s) {
    
  }
  @media(min-width: $u-layout-break-m) {
    .c-masthead, .c-footer {
      flex-direction: row;
    }
    .c-masthead {
      > * {
        flex: 33.33333%;
      }
      .c-masthead__brand {
        order: 2;
        text-align: center;
      }
      .c-cta--text {
        display: block;
        order: 3;
        text-align: right;
      }
    }
    .c-section--collage { //make this a grid container and cards a flex container?
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      .c-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--diabetik, &--realo {
          width: calc(40% - var(--u-flex-gutter) / 2);
        }
        &--scorecard, &--shelf {
          width: calc(60% - var(--u-flex-gutter) / 2);
        }
        &--helpper, &--immobrown {
          width: calc(50% - var(--u-flex-gutter) / 2);
          align-self: stretch;
        }
        .c-card__artwork {
          display: flex;
          flex: 1;
          align-items: center;
        }
      }
      .c-card--diabetik {
        order: 6;
      }
      .c-card--helpper {
        order: 3;
      }
      .c-card--immobrown {
        order: 4;
      }
      .c-card--realo {
        order: 1;
      }
      .c-card--scorecard {
        order: 2;
      }
      .c-card--shelf {
        order: 5;
      }
    }
  }
}