// =======================================================================
// Layout
// =======================================================================

.o-grid {
  .c-masthead, .c-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .c-masthead .c-cta--text {
    display: none;
  }
  .c-section--collage {
    display: grid;
    grid-template-columns: 1fr;
    .c-card--diabetik {
      order: 5;
    }
    .c-card--helpper {
      order: 2;
    }
    .c-card--immobrown {
      order: 6;
    }
    .c-card--realo {
      order: 3;
    }
    .c-card--scorecard {
      order: 1;
    }
    .c-card--shelf {
      order: 4;
    }
  }
  @media(min-width: $u-layout-break-s) {
    .c-page__header, .c-page__body {
      padding: 0 var(--u-hspacer-s);
    }
    .c-section--hero {
      padding: 0 var(--u-hspacer-m);
    }     
  }
  @media(min-width: $u-layout-break-m) {
    .c-masthead, .c-footer {
      flex-direction: row;
    }
    .c-masthead {
      > * {
        flex: 33.33333%;
      }
      .c-masthead__brand {
        order: 2;
        text-align: center;
      }
      .c-cta--text {
        display: block;
        order: 3;
        text-align: right;
      }
    }
    .c-page__header {
      margin-left: var(--u-hspacer-m);
      padding: 0;
    }
    .c-page__body {
      padding: 0 var(--u-hspacer-m);
      &--mc {
        column-count: 2;
        column-gap: var(--u-layout-gutter);
      }
    }
    .c-section--hero {
      padding: 0 var(--u-hspacer-l);
    }
    .c-section--collage {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: var(--u-layout-gutter);
      align-items: flex-end;
      .o-grid__item--small {
        grid-column: span 2;
      }
      .o-grid__item--medium {
        grid-column: span 3;  
      }
      .o-grid__item--large {
        grid-column: span 4;  
      }
      .c-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .c-card__artwork {
          display: flex;
          flex: 1;
          align-items: center;
        }
        &--diabetik {
          align-self: flex-start;
          order: 6;
        }
        &--helpper {
          order: 3;
        }
        &--immobrown {
          align-self: stretch;
          order: 4;
        }
        &--realo {
          order: 1;
        }
        &--scorecard {
          order: 2;
        }
        &--shelf {
          order: 5;
        }
      }
    }
  }
}