// =======================================================================
// Layout
// =======================================================================

.o-grid {
  .o-grid__align--bleed {
    margin-left: -6vmin; //100vw - 88vmin / 2
    margin-right: -6vmin; //100vw - 88vmin / 2
    &.c-figure .c-figure__caption {
      padding-left: 6vmin;
    }
    &.c-section--darken {
      padding-left: 6vmin;
      padding-right: 6vmin;
    }
  }
  .o-grid__align--measure {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--u-hero-measure);
  }
  .o-grid__flow, .o-grid__abreast {
    display: grid;
    grid-row-gap: calc(var(--u-layout-gutter) * 1.25);
  }
  .o-grid__collage {
    display: grid;
    grid-row-gap: calc(var(--u-layout-gutter) * 1.25);
    .c-card--gallery {
      padding: var(--u-card-inset);
      background: var(--c-matter-light);
    }
    .c-card--work--diabetik {
      order: 5;
    }
    .c-card--work--helpper {
      order: 2;
    }
    .c-card--work--immobrown {
      order: 6;
    }
    .c-card--work--realo {
      order: 3;
    }
    .c-card--work--scorecard {
      order: 1;
    }
    .c-card--work--shelf {
      order: 4;
    }
  }

  // 2 columns (each grid item 50%) for o-grid__collage on break-s


  @media(min-width: $u-layout-break-m) {
    .o-grid__align--inset {
      margin-left: var(--u-hspacer-m);
    }
    .o-grid__abreast {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--u-layout-gutter);
    }
    .o-grid__flow {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: var(--u-layout-gutter);
    }
    .o-grid__collage {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: var(--u-layout-gutter);
      align-items: flex-end;
      //align-items: stretch;
      > * {
        //display: flex;
        //flex-direction: column;
        //flex: 1;
        //justify-content: center;
        grid-column: span 6;
      }
      .o-grid__item--small {
        grid-column: span 2;
      }
      .o-grid__item--medium {
        grid-column: span 3;
      }
      .o-grid__item--large {
        grid-column: span 4;  
      }
      .c-card--work--diabetik {
        align-self: flex-start;
        order: 6;
      }
      .c-card--work--helpper {
        order: 3;
      }
      .c-card--work--immobrown {
        align-self: stretch;
        order: 4;
      }
      .c-card--work--realo {
        order: 1;
      }
      .c-card--work--scorecard {
        order: 2;
      }
      .c-card--work--shelf {
        order: 5;
      }
    }
  }
}