// =======================================================================
// CSS Custom Properties & Sass Variables
// =======================================================================

// Sass Variables
$u-layout-break-s: 34em; //544
$u-layout-break-m: 46em; //736
$u-layout-break-l: 62.5em; //1000
$u-layout-break-xl: 90em; //1440

:root {
  // Colour
  --c-dark: hsl(240, 7%, 10%);
  --c-accent: hsl(240, 5%, 56%);
  --c-light: hsl(240, 6%, 93%);
  --c-alpha: hsla(240, 5%, 56%, 15%);
  --c-alpha-dark: hsla(240, 7%, 10%, 20%);

  // Typography
  --f-family-sans: 'Vulf Sans', 'Basier Square', "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-family-mono: Monaco, monospace;

  --f-size-title: 2.75rem; //h1 calc(2.75rem + 1.65vw)
  --f-size-lede: 1.6rem; //h2 calc(1.6rem + 0.75vw)
  --f-size-subhead: 1.35rem; //h3 calc(1.8rem + 0.5vw)
  --f-size-caption: var(--f-size-body-small); //figcaption
  --f-size-blockquote: var(--f-size-lede);
  --f-size-body: calc(1rem + 0.45vmin);
  --f-size-body-fixed: 1.1rem;
  --f-size-body-small: 0.875rem;
  --f-size-base: 1rem; //body-fixed

  --f-leading-vtight: 1.1em;
  --f-leading-tight: 1.35em;
  --f-leading: calc(1.45em + 0.2vw);

  --f-spacing-tight: -0.07rem;
  --f-spacing-narrow: -0.016743rem;
  --f-spacing-extended: 0.025rem;

  // Units
  --u-spacer-xxs: 1vmax;
  --u-spacer-xs: 2vmax; 
  --u-spacer-s: 4vmax;
  --u-spacer-m: 6vmax;
  --u-spacer-l: 10vmax;
  --u-spacer-xl: 16vmax;

  --u-measure-s: 40rem;
  --u-measure-m: 45rem;
  --u-measure-l: 64rem;
  --u-measure-xl: 88vmin;

  --u-card-inset: calc(1rem + 0.75vmax);

  --u-layout-gutter: calc(2rem + 0.75vmax);

  // Animation
  --a-timing-bezier: cubic-bezier(.215, .61, .355, 1);
  --a-duration-vfast: .25s;
  --a-duration-normal: .45s;

  // Depth
  --d-card: 0 1.5vw 2vw hsla(0, 0%, 0%, .15);

  // Transparency
  --t-mid: .7;

  @media(min-width: $u-layout-break-l) {
    --u-measure-xl: 75vw;
  }
}
[data-theme="0719"] {
  --c-dark: hsl(174, 44%, 17%);
  --c-accent: hsl(174, 36%, 37%);
  --c-light: hsl(145, 14%, 60%);
  --c-alpha: hsla(174, 36%, 37%, 30%);
  --c-alpha-dark: hsla(174, 44%, 17%, 20%);
}
[data-theme="0819"] {
  --c-dark: hsl(265, 97%, 13%);
  --c-accent: hsl(297, 15%, 49%);
  --c-light: hsl(235, 15%, 65%);
  --c-alpha: hsla(297, 15%, 49%, 30%);
  --c-alpha-dark: hsla(265, 97%, 13%, 20%);
}
[data-theme="diabetik"] {
  --c-dark: hsl(104, 30%, 12%);
  --c-accent: hsl(104, 24%, 35%);
  --c-light: hsl(104, 12%, 90%);
  --c-alpha: hsla(104, 24%, 35%, 15%);
  --c-alpha-dark: hsla(104, 30%, 12%, 20%);
  @media(prefers-color-scheme: dark) {
    --c-accent: hsl(104, 24%, 45%);  
  }
}
[data-theme="helpper"] {
  --c-dark: hsl(312, 27%, 12%);
  --c-accent: hsl(312, 18%, 37%);
  --c-light: hsl(312, 8%, 90%);
  --c-alpha: hsla(312, 18%, 37%, 15%);
  --c-alpha-dark: hsla(312, 27%, 12%, 20%);
  @media(prefers-color-scheme: dark) {
    --c-accent: hsl(312, 18%, 47%);
  }
}
[data-theme="immobrown"] {
  --c-dark: hsl(29, 30%, 12%);
  --c-accent: hsl(29, 24%, 35%);
  --c-light: hsl(29, 12%, 90%);
  --c-alpha: hsla(29, 24%, 35%, 15%);
  --c-alpha-dark: hsla(29, 30%, 12%, 20%);
  @media(prefers-color-scheme: dark) {
    --c-accent: hsl(29, 24%, 45%);
  }
}
[data-theme="realo"] {
  --c-dark: hsl(238, 27%, 12%);
  --c-accent: hsl(238, 24%, 37%);
  --c-light: hsl(238, 12%, 90%);
  --c-alpha: hsl(238, 24%, 37%, 15%);
  --c-alpha-dark: hsla(238, 27%, 12%, 20%);
  @media(prefers-color-scheme: dark) {
    --c-accent: hsl(238, 24%, 49%);
  }
}
[data-theme="scorecard"] {
  --c-dark: hsl(180, 27%, 12%);
  --c-accent: hsl(180, 16%, 42%);
  --c-light: hsl(180, 8%, 90%);
  --c-alpha: hsla(180, 16%, 42%, 15%);
  --c-alpha-dark: hsla(180, 27%, 12%, 20%);
  @media(prefers-color-scheme: dark) {
    --c-accent: hsl(180, 16%, 44%);
  }
}
[data-theme="shelf"] {
  --c-dark: hsl(360, 30%, 12%);
  --c-accent: hsl(360, 25%, 37%);
  --c-light: hsl(360, 12%, 90%);
  --c-alpha: hsla(360, 25%, 37%, 15%);
  --c-alpha-dark: hsla(360, 30%, 12%, 20%);
  @media(prefers-color-scheme: dark) {
    --c-accent: hsl(360, 25%, 47%);
  }
}