// =======================================================================
// CSS Custom Properties & Sass Variables
// =======================================================================

// Sass Variables
$u-layout-break-s: 34em; //544
$u-layout-break-m: 46em; //736
$u-layout-break-l: 62.5em; //1000
$u-layout-break-xl: 90em; //1440

:root {
  // Colour
  --c-matter-dark: hsl(240, 7%, 10%);
  --c-matter-accent: hsl(240, 5%, 56%);
  --c-matter-light: hsl(240, 6%, 93%);
  --c-matter-alpha: hsla(240, 5%, 56%, 15%);

  --c-diabetik-dark: hsl(104, 30%, 12%);
  --c-diabetik-accent: hsl(104, 24%, 35%);
  --c-diabetik-light: hsl(104, 12%, 90%);
  --c-diabetik-alpha: hsla(104, 24%, 35%, 15%);

  --c-helpper-dark: hsl(312, 27%, 12%);
  --c-helpper-accent: hsl(312, 18%, 37%);
  --c-helpper-light: hsl(312, 8%, 90%);
  --c-helpper-alpha: hsla(312, 18%, 37%, 15%);

  --c-immobrown-dark: hsl(29, 30%, 12%);
  --c-immobrown-accent: hsl(29, 24%, 35%);
  --c-immobrown-light: hsl(29, 12%, 90%);
  --c-immobrown-alpha: hsla(29, 24%, 35%, 15%);

  --c-realo-dark: hsl(238, 27%, 12%);
  --c-realo-accent: hsl(238, 24%, 37%);
  --c-realo-light: hsl(238, 12%, 90%);
  --c-realo-alpha: hsl(238, 24%, 37%, 15%);

  --c-scorecard-dark: hsl(180, 27%, 12%);
  --c-scorecard-accent: hsl(180, 16%, 42%);
  --c-scorecard-light: hsl(180, 8%, 90%);
  --c-scorecard-alpha: hsla(180, 16%, 35%, 15%);

  --c-shelf-dark: hsl(360, 30%, 12%);
  --c-shelf-accent: hsl(360, 25%, 37%);
  --c-shelf-light: hsl(360, 12%, 90%);
  --c-shelf-alpha: hsla(360, 25%, 37%, 15%);

  --c-link-hover: var(--c-matter-accent);

  // Typography
  --f-family-sans: covik-sans, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-family-serif: ohno-blazeface, Georgia, serif;
  --f-family-display: bureau-grot-condensed, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;

  --f-size-body: calc(1rem + 0.5vmin);
  --f-size-body-fixed: 1rem;
  --f-size-body-small: 0.875rem;

  --f-size-h1: calc(2.75rem + 1.65vw);
  --f-size-h2: calc(1.25rem + 0.75vw);
  --f-size-h3: calc(1.95rem + 0.4vw);
  --f-size-h4: calc(0.8rem + 0.15vw);
  --f-size-blockquote: var(--f-size-h3);

  --f-leading-vtight: 1.1em;
  --f-leading-tight: 1.25em;
  --f-leading: 1.4em;

  --f-spacing-narrow: -0.016743rem;
  --f-spacing-extended: 0.025rem;

  // Units
  --u-spacer-xxs: 1vmax;
  --u-spacer-xs: 2vmax; 
  --u-spacer-s: 4vmax;
  --u-spacer-m: 6vmax;
  --u-spacer-l: 10vmax;
  --u-spacer-xl: 16vmax;

  --u-card-inset: calc(1rem + 0.75vmax);

  --u-hero-measure: 64rem;
  --u-line-measure: 45rem;
  --u-page-measure: 88vmin;

  //--u-layout-gutter: var(--u-spacer-s);
  --u-layout-gutter: calc(2rem + 0.75vmax);

  // Animation
  --t-bezier: cubic-bezier(.215, .61, .355, 1);

  // Depth
  --d-card: 0 1.5vw 2vw hsla(0, 0%, 0%, .1);
  
  @media (prefers-color-scheme: dark) {
    --c-diabetik-accent: hsl(104, 24%, 45%);
    --c-helpper-accent: hsl(312, 18%, 47%);
    --c-immobrown-accent: hsl(29, 24%, 45%);
    --c-realo-accent: hsl(238, 24%, 49%);
    --c-scorecard-accent: hsl(180, 16%, 44%);
    --c-shelf-accent: hsl(360, 25%, 47%);
  }

  @media(min-width: $u-layout-break-s) {
    --u-page-measure: 75vw;  
  }
}