<nav class="o-grid-align__bleed c-nav c-nav--secondary">
  <ul class="c-nav__items">
    {% for link in navSecondary %}
    <li class="c-nav__item"><a href="{{ link.target }}">{{ link.anchor }}</a></li>
    {% endfor %}
  </ul>
</nav>