<header class="c-masthead">
   <div class="c-masthead__brand">
      <a href="/"><svg viewBox="0 0 120 20"><path fill-rule="evenodd" d="M118.95 19.37h.05V0H-1h2.834L7.2 13.152 12.29 0h5.97v19.37h4.93L30.5 0h5.035l7.227 19.37h7.545V4.146H44.31V0h16.37v4.146h-6.026V19.37h16.12V4.146h-5.997V0h16.37v4.146H75.12V19.37h11.17V0h12.353v4.09h-8.007V7.8H97.9v3.817h-7.264v3.734h8.034v4.02h6.16V0h7.732c.954 0 1.82.156 2.6.467.78.31 1.444.74 1.995 1.29.55.55.976 1.195 1.28 1.936.302.74.453 1.542.453 2.403 0 1.318-.34 2.457-1.018 3.418-.68.96-1.623 1.652-2.834 2.073l3.913 7.783zm-4.784 0h-4.988v-7.15h1.54l3.448 7.15zm-76.134 0H27.756l1.368-3.856h7.54l1.368 3.856zm-24.037 0H8.943l5.052-12.808V19.37zm-8.65 0H.292V6.727l5.05 12.643z"/></svg></a>
   </div>
   <nav class="c-nav">
      <ul class="c-nav__items">
         <li class="c-nav__item c-nav__item--selected"><a href="/">Work</a></li>
         <li class="c-nav__item"><a href="/profile/">Profile</a></li>
         <li class="c-nav__item"><a href="/blog/">Vault</a></li>
         <li class="c-nav__item"><a href="/contact/">Contact</a></li>
      </ul>
   </nav>
</header>