<header class="c-masthead">
   <div class="c-masthead__title">
      <a rel="home" href="/">Jeremy Swinnen</a>
   </div>
   <nav class="c-nav">
      <ul class="c-nav__items">
         <li class="c-nav__item"><a href="/"{% if page.url contains 'work' %} aria-current="page"{% endif %}>Work</a></li>
         <li class="c-nav__item"><a href="/profile/"{% if page.url contains 'profile' %} aria-current="page"{% endif %}>Profile</a></li>
         <li class="c-nav__item"><a href="/blog/"{% if page.url contains 'blog' %} aria-current="page"{% endif %}>Vault</a></li>
         <li class="c-nav__item"><a href="/contact/"{% if page.url contains 'contact' %} aria-current="page"{% endif %}>Contact</a></li>
      </ul>
   </nav>
</header>