<nav class="o-grid__align--bleed c-nav c-nav--secondary" role="social-networks">
  <ul class="c-nav__items">
    <li class="c-nav__item"><a href="{{ site.social.twitter }}"><img src="" aria-labelledby="Twitter">Twitter</a></li>

    <li class="c-nav__item"><a href="{{ site.social.github }}"><img src="" aria-labelledby="Github">Github</a></li>

    <li class="c-nav__item"><a href="{{ site.social.dribbble }}"><img src="" aria-labelledby="Dribbble">Dribbble</a></li>

    <li class="c-nav__item"><a href="mailto:{{ site.author.email }}"><img src="" aria-labelledby="Email">Email</a></li>
  </ul>
</nav>