<header class="c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ summary }}</h2>  
</header>
<section class="c-section c-section--hero">
{% if page.fileSlug == 'diabetik' %}
  {% include screens with artwork: artwork.diabetik.cover %} 
{% endif %}
{% if page.fileSlug == 'helpper' %}
  {% include screens with artwork: artwork.helpper.cover %} 
{% endif %}
{% if page.fileSlug == 'immobrown' %}
  {% include screens with artwork: artwork.immobrown.cover %} 
{% endif %}
{% if page.fileSlug == 'realo' %}
  {% include screens with artwork: artwork.realo.cover %} 
{% endif %}
{% if page.fileSlug == 'scorecard' %}
  {% include screens with artwork: artwork.scorecard.cover %} 
{% endif %}
{% if page.fileSlug == 'shelf' %}
  {% include screens with artwork: artwork.shelf.cover %} 
{% endif %}  
</section>
<article class="c-article c-article--mc">
  {{ content }}
</article>
<section class="c-section c-section--collage">
{% if page.fileSlug == 'diabetik' %}
  {% include screens with artwork: artwork.diabetik.collage %} 
{% endif %}
{% if page.fileSlug == 'helpper' %}
  {% include screens with artwork: artwork.helpper.collage %} 
{% endif %}
{% if page.fileSlug == 'immobrown' %}
  {% include screens with artwork: artwork.immobrown.collage %} 
{% endif %}
{% if page.fileSlug == 'realo' %}
  {% include screens with artwork: artwork.realo.collage %} 
{% endif %}
{% if page.fileSlug == 'scorecard' %}
  {% include screens with artwork: artwork.scorecard.collage %} 
{% endif %}
{% if page.fileSlug == 'shelf' %}
  {% include screens with artwork: artwork.shelf.collage %} 
{% endif %}
</section>