<header class="c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<article class="c-page__body c-page__body--mc c-article">
  {{ content }}
</article>
<section class="o-grid__align--bleed c-section c-section--darken">
  <header class="c-section__header c-section__header--centered">
    <h4>Skills &amp; Services -> Contact</h4>
    <h2>While I'm primarily a designer, I'm equally able to assist you and your team in a few other key areas throughout the process.</h2>
  </header>
</section>