:root {
  --c-matter-dark: hsl(240, 7%, 10%);
  --c-matter-accent: hsl(240, 5%, 56%);
  --c-matter-light: hsl(240, 6%, 93%);
  --c-matter-alpha: hsla(240, 5%, 56%, 15%);
  --c-diabetik-dark: hsl(104, 30%, 12%);
  --c-diabetik-accent: hsl(104, 24%, 35%);
  --c-diabetik-light: hsl(104, 12%, 90%);
  --c-diabetik-alpha: hsla(104, 24%, 35%, 15%);
  --c-helpper-dark: hsl(312, 27%, 12%);
  --c-helpper-accent: hsl(312, 18%, 37%);
  --c-helpper-light: hsl(312, 8%, 90%);
  --c-helpper-alpha: hsla(312, 18%, 37%, 15%);
  --c-immobrown-dark: hsl(29, 30%, 12%);
  --c-immobrown-accent: hsl(29, 24%, 35%);
  --c-immobrown-light: hsl(29, 12%, 90%);
  --c-immobrown-alpha: hsla(29, 24%, 35%, 15%);
  --c-realo-dark: hsl(238, 27%, 12%);
  --c-realo-accent: hsl(238, 24%, 37%);
  --c-realo-light: hsl(238, 12%, 90%);
  --c-realo-alpha: hsl(238, 24%, 37%, 15%);
  --c-scorecard-dark: hsl(180, 27%, 12%);
  --c-scorecard-accent: #628588;
  --c-scorecard-light: hsl(180, 8%, 90%);
  --c-scorecard-alpha: hsla(180, 16%, 35%, 15%);
  --c-shelf-dark: hsl(360, 30%, 12%);
  --c-shelf-accent: hsl(360, 25%, 37%);
  --c-shelf-light: hsl(360, 12%, 90%);
  --c-shelf-alpha: hsla(360, 25%, 37%, 15%);
  --c-link-hover: var(--c-matter-accent);
  --f-family-sans: covik-sans, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-family-serif: ohno-blazeface, Georgia, serif;
  --f-family-display: bureau-grot-condensed, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-size-body: calc(1rem + 0.5vmin);
  --f-size-body-fixed: 1rem;
  --f-size-body-small: 0.875rem;
  --f-size-h1: calc(2.75rem + 1.65vw);
  --f-size-h2: calc(1.15rem + 0.75vw);
  --f-size-h3: calc(1.95rem + 0.4vw);
  --f-size-h4: calc(0.8rem + 0.15vw);
  --f-size-blockquote: var(--f-size-h3);
  --f-leading-vtight: 1.1em;
  --f-leading-tight: 1.25em;
  --f-leading: 1.4em;
  --f-spacing-narrow: -0.016743rem;
  --f-spacing-extended: 0.025rem;
  --u-spacer-xxs: 1vmax;
  --u-spacer-xs: 2vmax;
  --u-spacer-s: 4vmax;
  --u-spacer-m: 6vmax;
  --u-spacer-l: 10vmax;
  --u-spacer-xl: 16vmax;
  --u-card-inset: calc(1rem + 0.75vmax);
  --u-hero-measure: 64rem;
  --u-line-measure: 45rem;
  --u-page-measure: 88vmin;
  --u-layout-gutter: calc(2rem + 0.75vmax);
  --t-bezier: cubic-bezier(.215, .61, .355, 1);
  --d-card: 0 1.5vw 2vw hsla(0, 0%, 0%, .1); }
  @media (prefers-color-scheme: dark) {
    :root {
      --c-helpper-accent: hsl(312, 18%, 37%); } }
  @media (min-width: 34em) {
    :root {
      --u-page-measure: 75vw; } }

.o-grid .o-grid__align--bleed {
  margin-left: -6vmin;
  margin-right: -6vmin; }
  .o-grid .o-grid__align--bleed.c-figure .c-figure__caption {
    padding-left: 6vmin; }
  .o-grid .o-grid__align--bleed.c-section--darken {
    padding-left: 6vmin;
    padding-right: 6vmin; }

.o-grid .o-grid__align--measure {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--u-hero-measure); }

.o-grid .o-grid__flow, .o-grid .o-grid__abreast {
  display: grid;
  grid-row-gap: calc(var(--u-layout-gutter) * 1.25); }

.o-grid .o-grid__collage {
  display: grid;
  grid-row-gap: calc(var(--u-layout-gutter) * 1.25); }
  .o-grid .o-grid__collage .c-card--gallery {
    padding: var(--u-card-inset);
    background: var(--c-matter-light); }
  .o-grid .o-grid__collage .c-card--work--diabetik {
    order: 5; }
  .o-grid .o-grid__collage .c-card--work--helpper {
    order: 2; }
  .o-grid .o-grid__collage .c-card--work--immobrown {
    order: 6; }
  .o-grid .o-grid__collage .c-card--work--realo {
    order: 3; }
  .o-grid .o-grid__collage .c-card--work--scorecard {
    order: 1; }
  .o-grid .o-grid__collage .c-card--work--shelf {
    order: 4; }

@media (min-width: 46em) {
  .o-grid .o-grid__align--inset {
    margin-left: var(--u-hspacer-m); }
  .o-grid .o-grid__abreast {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--u-layout-gutter); }
  .o-grid .o-grid__flow {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--u-layout-gutter); }
  .o-grid .o-grid__collage {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: var(--u-layout-gutter);
    align-items: flex-end; }
    .o-grid .o-grid__collage > * {
      grid-column: span 6; }
    .o-grid .o-grid__collage .o-grid__item--small {
      grid-column: span 2; }
    .o-grid .o-grid__collage .o-grid__item--medium {
      grid-column: span 3; }
    .o-grid .o-grid__collage .o-grid__item--large {
      grid-column: span 4; }
    .o-grid .o-grid__collage .c-card--work--diabetik {
      align-self: flex-start;
      order: 6; }
    .o-grid .o-grid__collage .c-card--work--helpper {
      order: 3; }
    .o-grid .o-grid__collage .c-card--work--immobrown {
      align-self: stretch;
      order: 4; }
    .o-grid .o-grid__collage .c-card--work--realo {
      order: 1; }
    .o-grid .o-grid__collage .c-card--work--scorecard {
      order: 2; }
    .o-grid .o-grid__collage .c-card--work--shelf {
      order: 5; } }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

::selection {
  color: white;
  background: var(--c-matter-accent); }

body {
  margin: 0;
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  hypens: auto; }
  body.no-scroll {
    overflow: hidden; }

article, aside, footer, header, main, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  text-rendering: optimizeLegibility; }

a {
  color: currentColor;
  text-decoration: underline;
  background-color: transparent; }
  a:hover {
    text-decoration: none; }
  a:active {
    opacity: .6; }
  a:hover, a:active, a:focus {
    outline: 0; }

p, blockquote {
  margin: 0; }

b, strong {
  font-weight: bold; }

cite {
  font-style: italic; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

figure {
  margin: 0; }

img {
  width: 100%;
  border: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

ul, ol, dd {
  margin: 0;
  padding: 0; }

ul {
  list-style: circle; }

ol {
  list-style: none;
  counter-reset: li; }
  ol li {
    margin-bottom: var(--u-spacer-xxs);
    counter-increment: li; }
    ol li:last-child {
      margin-bottom: 0; }
    ol li::before {
      display: inline-block;
      margin-left: -1em;
      width: 1em;
      color: var(--c-matter-accent);
      content: counter(li); }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  border: 0; }

label {
  display: block; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  border-radius: 0;
  overflow: visible;
  cursor: pointer; }

[type="checkbox"], [type="radio"] {
  padding: 0; }

textarea {
  overflow: auto; }

::placeholder {
  color: var(--c-neutral-dark-a50); }

:focus::placeholder {
  opacity: 0.5; }

:focus {
  outline: none; }

body {
  font-family: var(--f-family-sans);
  font-size: var(--f-size-body);
  line-height: var(--f-leading);
  color: var(--c-matter-dark);
  letter-spacing: var(--f-spacing-narrow); }

h1 {
  margin-bottom: var(--u-spacer-xs);
  font-family: var(--f-family-display);
  font-size: var(--f-size-h1);
  line-height: var(--f-leading-tight);
  font-weight: 400;
  color: var(--c-matter-dark);
  text-transform: uppercase; }

h2, .c-blockquote__text {
  font-family: var(--f-family-serif);
  font-size: var(--f-size-h2);
  line-height: var(--f-leading);
  font-weight: 100;
  color: var(--c-matter-accent); }
  h2:not(h2), .c-blockquote__text:not(h2) {
    margin-bottom: var(--u-spacer-xxs); }

h3 {
  margin-bottom: var(--u-spacer-xxs);
  font-family: var(--f-family-display);
  font-size: var(--f-size-h3);
  color: var(--c-matter-dark);
  font-weight: 400; }

h4 {
  margin-bottom: var(--u-spacer-xs);
  font-size: var(--f-size-h4);
  font-weight: 500;
  letter-spacing: var(--f-spacing-extended);
  color: var(--c-matter-accent);
  text-transform: uppercase; }
  h4:not(:first-child) {
    margin-top: var(--u-spacer-xs); }

small {
  font-size: var(--f-size-body-small);
  line-height: var(--f-leading);
  color: var(--c-matter-accent); }

.c-figure__caption p {
  font-size: var(--f-size-body-fixed);
  line-height: var(--f-leading);
  color: var(--c-matter-accent); }

cite {
  font-size: var(--f-size-body-fixed);
  line-height: var(--f-leading);
  font-style: normal;
  color: var(--c-matter-dark); }

.c-page {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--u-page-measure);
  background: white; }
  .c-page .c-page__header {
    margin-bottom: var(--u-spacer-l);
    max-width: var(--u-line-measure); }
  .c-page .c-page__body {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--u-spacer-l);
    max-width: var(--u-line-measure); }
    .c-page .c-page__body h3:not(:first-child), .c-page .c-page__body h4:not(:first-child) {
      margin-top: var(--u-spacer-s); }
    .c-page .c-page__body p, .c-page .c-page__body ol {
      margin-bottom: var(--u-spacer-xs); }

.c-section {
  margin-bottom: var(--u-spacer-l); }
  .c-section .c-section__header {
    margin-bottom: var(--u-spacer-m);
    max-width: var(--u-line-measure); }
    .c-section .c-section__header h4 {
      color: var(--c-matter-dark); }
    .c-section .c-section__header--centered {
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  .c-section--darken {
    padding-top: var(--u-spacer-m);
    padding-bottom: var(--u-spacer-m);
    color: var(--c-matter-accent);
    background: var(--c-matter-dark); }
    .c-section--darken h3, .c-section--darken h4, .c-section--darken .c-section__header h3, .c-section--darken .c-section__header h4 {
      color: var(--c-matter-light); }
  .c-section:last-of-type {
    margin-bottom: var(--u-spacer-m); }

.c-masthead {
  margin-bottom: var(--u-spacer-s);
  padding: var(--u-spacer-m) 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  .c-masthead .c-masthead__title {
    margin-right: calc(1rem + 0.4vw); }
    .c-masthead .c-masthead__title a {
      display: table-caption;
      font-weight: 600;
      font-size: var(--f-size-body-fixed);
      line-height: var(--f-leading-vtight);
      text-decoration: none; }
      .c-masthead .c-masthead__title a:hover {
        color: var(--c-matter-accent); }
  @media (min-width: 34em) {
    .c-masthead {
      justify-content: flex-start; } }

.c-article .c-article__header {
  margin-bottom: var(--u-spacer-m);
  max-width: var(--u-line-measure); }

.c-footer {
  padding: var(--u-spacer-s) 0; }

.c-nav .c-nav__items {
  display: flex;
  list-style: none; }
  .c-nav .c-nav__items .c-nav__item {
    padding: 0 calc(0.5rem + 0.2vw); }
    .c-nav .c-nav__items .c-nav__item a {
      display: block;
      font-size: var(--f-size-body-fixed);
      line-height: var(--f-leading-vtight);
      text-transform: lowercase;
      text-decoration: none; }
      .c-nav .c-nav__items .c-nav__item a:hover, .c-nav .c-nav__items .c-nav__item a[aria-current] {
        color: var(--c-matter-accent); }

@media (min-width: 34em) {
  .c-nav .c-nav__items .c-nav__item {
    padding: 0 calc(0.75rem + 0.3vw); } }

.c-card--work {
  position: relative;
  transform-origin: center;
  transition: transform 0.45s var(--t-bezier), box-shadow 0.45s var(--t-bezier); }
  .c-card--work .c-card__header {
    padding: var(--u-card-inset);
    color: white; }
    .c-card--work .c-card__header h3 {
      color: white; }
      .c-card--work .c-card__header h3 a {
        text-decoration: none; }
        .c-card--work .c-card__header h3 a:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          z-index: 2; }
    .c-card--work .c-card__header p {
      margin-bottom: 0;
      opacity: .6;
      max-width: calc(var(--u-line-measure) / 1.5); }
  .c-card--work .c-card__image {
    padding: var(--u-card-inset); }
    .c-card--work .c-card__image img {
      transition: opacity 0.45s var(--t-bezier); }
  .c-card--work:hover {
    transform: scale(1.04);
    box-shadow: var(--d-card); }
    .c-card--work:hover .c-card__image img {
      opacity: 1; }
  .c-card--work:active .c-card__image img {
    opacity: .85;
    transition: none; }
  .c-card--work--diabetik .c-card__header {
    background: var(--c-diabetik-accent); }
  .c-card--work--diabetik .c-card__image {
    background: var(--c-diabetik-light); }
  .c-card--work--helpper .c-card__header {
    background: var(--c-helpper-accent); }
  .c-card--work--helpper .c-card__image {
    background: var(--c-helpper-light); }
  .c-card--work--immobrown .c-card__header {
    background: var(--c-immobrown-accent); }
  .c-card--work--immobrown .c-card__image {
    background: var(--c-immobrown-light); }
  .c-card--work--realo .c-card__header {
    background: var(--c-realo-accent); }
  .c-card--work--realo .c-card__image {
    background: var(--c-realo-light); }
  .c-card--work--scorecard .c-card__header {
    background: var(--c-scorecard-accent); }
  .c-card--work--scorecard .c-card__image {
    background: var(--c-scorecard-light); }
  .c-card--work--shelf .c-card__header {
    background: var(--c-shelf-accent); }
  .c-card--work--shelf .c-card__image {
    background: var(--c-shelf-light); }
  @media (min-width: 46em) {
    .c-card--work {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .c-card--work .c-card__image {
        display: flex;
        flex: 1;
        align-items: center; }
        .c-card--work .c-card__image img {
          opacity: .85; }
      .c-card--work--diabetik {
        transform-origin: top left; }
      .c-card--work--realo {
        transform-origin: bottom right; }
      .c-card--work--scorecard {
        transform-origin: bottom left; }
      .c-card--work--shelf {
        transform-origin: top right; } }

.o-grid__collage .c-card--gallery .c-figure__caption p {
  margin-bottom: 0;
  text-align: center; }

.c-figure {
  margin-bottom: 0; }
  .c-figure img {
    display: block; }
  .c-figure .c-figure__caption {
    margin-top: var(--u-spacer-xxs);
    color: var(--c-matter-accent); }

@media (prefers-color-scheme: dark) {
  html {
    background: var(--c-matter-dark); }
    html body, html h1, html cite, html .c-nav .c-nav__items .c-nav__item a, html .c-figure__caption {
      color: var(--c-matter-light); }
    html .c-page {
      background: var(--c-matter-dark); }
    html .c-section .c-section__header h4 {
      color: var(--c-matter-light); }
    html .c-section--darken {
      color: var(--c-matter-light);
      background: var(--c-matter-alpha); }
      html .c-section--darken h4 {
        color: var(--c-matter-light); }
    html .c-card--work--diabetik .c-card__image {
      background: var(--c-diabetik-alpha); }
    html .c-card--work--helpper .c-card__image {
      background: var(--c-helpper-alpha); }
    html .c-card--work--immobrown .c-card__image {
      background: var(--c-immobrown-alpha); }
    html .c-card--work--realo .c-card__image {
      background: var(--c-realo-alpha); }
    html .c-card--work--scorecard .c-card__image {
      background: var(--c-scorecard-alpha); }
    html .c-card--work--shelf .c-card__image {
      background: var(--c-shelf-alpha); }
  html.t--diabetik {
    background: var(--c-diabetik-dark); }
    html.t--diabetik body, html.t--diabetik h1, html.t--diabetik cite, html.t--diabetik .c-nav .c-nav__items .c-nav__item a, html.t--diabetik .c-figure__caption {
      color: var(--c-diabetik-light); }
    html.t--diabetik .c-page {
      background: var(--c-diabetik-dark); }
    html.t--diabetik .c-section .c-section__header h4 {
      color: var(--c-diabetik-light); }
    html.t--diabetik .c-section--darken {
      color: var(--c-diabetik-light);
      background: var(--c-diabetik-alpha); }
      html.t--diabetik .c-section--darken h4 {
        color: var(--c-diabetik-light); }
    html.t--diabetik .o-grid__collage .c-card--gallery {
      background: var(--c-diabetik-alpha); }
  html.t--helpper {
    background: var(--c-helpper-dark); }
    html.t--helpper body, html.t--helpper h1, html.t--helpper cite, html.t--helpper .c-nav .c-nav__items .c-nav__item a, html.t--helpper .c-figure__caption {
      color: var(--c-helpper-light); }
    html.t--helpper .c-page {
      background: var(--c-helpper-dark); }
    html.t--helpper .c-section .c-section__header h4 {
      color: var(--c-helpper-light); }
    html.t--helpper .c-section--darken {
      color: var(--c-helpper-light);
      background: var(--c-helpper-alpha); }
      html.t--helpper .c-section--darken h4 {
        color: var(--c-helpper-light); }
    html.t--helpper .o-grid__collage .c-card--gallery {
      background: var(--c-helpper-alpha); }
  html.t--immobrown {
    background: var(--c-immobrown-dark); }
    html.t--immobrown body, html.t--immobrown h1, html.t--immobrown cite, html.t--immobrown .c-nav .c-nav__items .c-nav__item a, html.t--immobrown .c-figure__caption {
      color: var(--c-immobrown-light); }
    html.t--immobrown .c-page {
      background: var(--c-immobrown-dark); }
    html.t--immobrown .c-section .c-section__header h4 {
      color: var(--c-immobrown-light); }
    html.t--immobrown .c-section--darken {
      color: var(--c-immobrown-light);
      background: var(--c-immobrown-alpha); }
      html.t--immobrown .c-section--darken h4 {
        color: var(--c-immobrown-light); }
    html.t--immobrown .o-grid__collage .c-card--gallery {
      background: var(--c-immobrown-alpha); }
  html.t--realo {
    background: var(--c-realo-dark); }
    html.t--realo body, html.t--realo h1, html.t--realo cite, html.t--realo .c-nav .c-nav__items .c-nav__item a, html.t--realo .c-figure__caption {
      color: var(--c-realo-light); }
    html.t--realo .c-page {
      background: var(--c-realo-dark); }
    html.t--realo .c-section .c-section__header h4 {
      color: var(--c-realo-light); }
    html.t--realo .c-section--darken {
      color: var(--c-realo-light);
      background: var(--c-realo-alpha); }
      html.t--realo .c-section--darken h4 {
        color: var(--c-realo-light); }
    html.t--realo .o-grid__collage .c-card--gallery {
      background: var(--c-realo-alpha); }
  html.t--scorecard {
    background: var(--c-scorecard-dark); }
    html.t--scorecard body, html.t--scorecard h1, html.t--scorecard cite, html.t--scorecard .c-nav .c-nav__items .c-nav__item a, html.t--scorecard .c-figure__caption {
      color: var(--c-scorecard-light); }
    html.t--scorecard .c-page {
      background: var(--c-scorecard-dark); }
    html.t--scorecard .c-section .c-section__header h4 {
      color: var(--c-scorecard-light); }
    html.t--scorecard .c-section--darken {
      color: var(--c-scorecard-light);
      background: var(--c-scorecard-alpha); }
      html.t--scorecard .c-section--darken h4 {
        color: var(--c-scorecard-light); }
    html.t--scorecard .o-grid__collage .c-card--gallery {
      background: var(--c-scorecard-alpha); }
  html.t--shelf {
    background: var(--c-shelf-dark); }
    html.t--shelf body, html.t--shelf h1, html.t--shelf cite, html.t--shelf .c-nav .c-nav__items .c-nav__item a, html.t--shelf .c-figure__caption {
      color: var(--c-shelf-light); }
    html.t--shelf .c-page {
      background: var(--c-shelf-dark); }
    html.t--shelf .c-section .c-section__header h4 {
      color: var(--c-shelf-light); }
    html.t--shelf .c-section--darken {
      color: var(--c-shelf-light);
      background: var(--c-shelf-alpha); }
      html.t--shelf .c-section--darken h4 {
        color: var(--c-shelf-light); }
    html.t--shelf .o-grid__collage .c-card--gallery {
      background: var(--c-shelf-alpha); } }

.t--diabetik body, .t--diabetik h1, .t--diabetik cite, .t--diabetik .c-nav .c-nav__items .c-nav__item a {
  color: var(--c-diabetik-dark); }

.t--diabetik ::selection {
  background: var(--c-diabetik-accent); }

.t--diabetik h2, .t--diabetik h3, .t--diabetik h4, .t--diabetik small, .t--diabetik .c-masthead__title a:hover, .t--diabetik .c-nav .c-nav__items .c-nav__item a:hover, .t--diabetik .c-nav .c-nav__items .c-nav__item a[aria-current], .t--diabetik .c-page__body ol li::before, .t--diabetik .c-figure__caption p, .t--diabetik .c-footer {
  color: var(--c-diabetik-accent); }

.t--diabetik .c-section--darken {
  color: var(--c-diabetik-accent);
  background: var(--c-diabetik-dark); }
  .t--diabetik .c-section--darken h3, .t--diabetik .c-section--darken h4 {
    color: var(--c-diabetik-light); }

.t--diabetik .o-grid__collage .c-card--gallery {
  background: var(--c-diabetik-light); }

.t--helpper body, .t--helpper h1, .t--helpper cite, .t--helpper .c-nav .c-nav__items .c-nav__item a {
  color: var(--c-helpper-dark); }

.t--helpper ::selection {
  background: var(--c-helpper-accent); }

.t--helpper h2, .t--helpper h3, .t--helpper h4, .t--helpper small, .t--helpper .c-masthead__title a:hover, .t--helpper .c-nav .c-nav__items .c-nav__item a:hover, .t--helpper .c-nav .c-nav__items .c-nav__item a[aria-current], .t--helpper .c-page__body ol li::before, .t--helpper .c-figure__caption p, .t--helpper .c-footer {
  color: var(--c-helpper-accent); }

.t--helpper .c-section--darken {
  color: var(--c-helpper-accent);
  background: var(--c-helpper-dark); }
  .t--helpper .c-section--darken h3, .t--helpper .c-section--darken h4 {
    color: var(--c-helpper-light); }

.t--helpper .o-grid__collage .c-card--gallery {
  background: var(--c-helpper-light); }

.t--immobrown body, .t--immobrown h1, .t--immobrown cite, .t--immobrown .c-nav .c-nav__items .c-nav__item a {
  color: var(--c-immobrown-dark); }

.t--immobrown ::selection {
  background: var(--c-immobrown-accent); }

.t--immobrown h2, .t--immobrown h3, .t--immobrown h4, .t--immobrown small, .t--immobrown .c-masthead__title a:hover, .t--immobrown .c-nav .c-nav__items .c-nav__item a:hover, .t--immobrown .c-nav .c-nav__items .c-nav__item a[aria-current], .t--immobrown .c-page__body ol li::before, .t--immobrown .c-figure__caption p, .t--immobrown .c-footer {
  color: var(--c-immobrown-accent); }

.t--immobrown .c-section--darken {
  color: var(--c-immobrown-accent);
  background: var(--c-immobrown-dark); }
  .t--immobrown .c-section--darken h3, .t--immobrown .c-section--darken h4 {
    color: var(--c-immobrown-light); }

.t--immobrown .o-grid__collage .c-card--gallery {
  background: var(--c-immobrown-light); }

.t--realo body, .t--realo h1, .t--realo cite, .t--realo .c-nav .c-nav__items .c-nav__item a {
  color: var(--c-realo-dark); }

.t--realo ::selection {
  background: var(--c-realo-accent); }

.t--realo h2, .t--realo h3, .t--realo h4, .t--realo small, .t--realo .c-masthead__title a:hover, .t--realo .c-nav .c-nav__items .c-nav__item a:hover, .t--realo .c-nav .c-nav__items .c-nav__item a[aria-current], .t--realo .c-page__body ol li::before, .t--realo .c-figure__caption p, .t--realo .c-footer {
  color: var(--c-realo-accent); }

.t--realo .c-section--darken {
  color: var(--c-realo-accent);
  background: var(--c-realo-dark); }
  .t--realo .c-section--darken h3, .t--realo .c-section--darken h4 {
    color: var(--c-realo-light); }

.t--realo .o-grid__collage .c-card--gallery {
  background: var(--c-realo-light); }

.t--scorecard body, .t--scorecard h1, .t--scorecard cite, .t--scorecard .c-nav .c-nav__items .c-nav__item a {
  color: var(--c-scorecard-dark); }

.t--scorecard ::selection {
  background: var(--c-scorecard-accent); }

.t--scorecard h2, .t--scorecard h3, .t--scorecard h4, .t--scorecard small, .t--scorecard .c-masthead__title a:hover, .t--scorecard .c-nav .c-nav__items .c-nav__item a:hover, .t--scorecard .c-nav .c-nav__items .c-nav__item a[aria-current], .t--scorecard .c-page__body ol li::before, .t--scorecard .c-figure__caption p, .t--scorecard .c-footer {
  color: var(--c-scorecard-accent); }

.t--scorecard .c-section--darken {
  color: var(--c-scorecard-accent);
  background: var(--c-scorecard-dark); }
  .t--scorecard .c-section--darken h3, .t--scorecard .c-section--darken h4 {
    color: var(--c-scorecard-light); }

.t--scorecard .o-grid__collage .c-card--gallery {
  background: var(--c-scorecard-light); }

.t--shelf body, .t--shelf h1, .t--shelf cite, .t--shelf .c-nav .c-nav__items .c-nav__item a {
  color: var(--c-shelf-dark); }

.t--shelf ::selection {
  background: var(--c-shelf-accent); }

.t--shelf h2, .t--shelf h3, .t--shelf h4, .t--shelf small, .t--shelf .c-masthead__title a:hover, .t--shelf .c-nav .c-nav__items .c-nav__item a:hover, .t--shelf .c-nav .c-nav__items .c-nav__item a[aria-current], .t--shelf .c-page__body ol li::before, .t--shelf .c-figure__caption p, .t--shelf .c-footer {
  color: var(--c-shelf-accent); }

.t--shelf .c-section--darken {
  color: var(--c-shelf-accent);
  background: var(--c-shelf-dark); }
  .t--shelf .c-section--darken h3, .t--shelf .c-section--darken h4 {
    color: var(--c-shelf-light); }

.t--shelf .o-grid__collage .c-card--gallery {
  background: var(--c-shelf-light); }
