:root {
  --c-dark: hsl(240, 7%, 10%);
  --c-accent: hsl(240, 5%, 56%);
  --c-light: hsl(240, 6%, 93%);
  --c-alpha: hsla(240, 5%, 56%, 15%);
  --c-alpha-dark: hsla(240, 7%, 10%, 20%);
  --f-family-sans: covik-sans, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-family-serif: ohno-blazeface, Georgia, serif;
  --f-family-display: bureau-grot-condensed, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-size-body: calc(1.1rem + 0.45vmin);
  --f-size-body-fixed: 1.05rem;
  --f-size-body-small: 0.875rem;
  --f-size-h1: calc(2.75rem + 1.65vw);
  --f-size-h2: calc(1.4rem + 0.75vw);
  --f-size-h3: calc(1.8rem + 0.5vw);
  --f-size-h4: calc(0.9rem + 0.15vw);
  --f-size-blockquote: var(--f-size-h3);
  --f-leading-vtight: 1.1em;
  --f-leading-tight: 1.35em;
  --f-leading: 1.5em;
  --f-spacing-tight: -0.07rem;
  --f-spacing-narrow: -0.016743rem;
  --f-spacing-extended: 0.025rem;
  --u-spacer-xxs: 1vmax;
  --u-spacer-xs: 2vmax;
  --u-spacer-s: 4vmax;
  --u-spacer-m: 6vmax;
  --u-spacer-l: 10vmax;
  --u-spacer-xl: 16vmax;
  --u-measure-s: 40rem;
  --u-measure-m: 45rem;
  --u-measure-l: 64rem;
  --u-measure-xl: 88vmin;
  --u-card-inset: calc(1rem + 0.75vmax);
  --u-layout-gutter: calc(2rem + 0.75vmax);
  --a-timing-bezier: cubic-bezier(.215, .61, .355, 1);
  --a-duration-vfast: .25s;
  --a-duration-normal: .45s;
  --d-card: 0 1.5vw 2vw hsla(0, 0%, 0%, .15);
  --t-mid: .7; }
  @media (min-width: 62.5em) {
    :root {
      --u-measure-xl: 75vw; } }

[data-theme="diabetik"] {
  --c-dark: hsl(104, 30%, 12%);
  --c-accent: hsl(104, 24%, 35%);
  --c-light: hsl(104, 12%, 90%);
  --c-alpha: hsla(104, 24%, 35%, 15%);
  --c-alpha-dark: hsla(104, 30%, 12%, 20%); }
  @media (prefers-color-scheme: dark) {
    [data-theme="diabetik"] {
      --c-accent: hsl(104, 24%, 45%); } }

[data-theme="helpper"] {
  --c-dark: hsl(312, 27%, 12%);
  --c-accent: hsl(312, 18%, 37%);
  --c-light: hsl(312, 8%, 90%);
  --c-alpha: hsla(312, 18%, 37%, 15%);
  --c-alpha-dark: hsla(312, 27%, 12%, 20%); }
  @media (prefers-color-scheme: dark) {
    [data-theme="helpper"] {
      --c-accent: hsl(312, 18%, 47%); } }

[data-theme="immobrown"] {
  --c-dark: hsl(29, 30%, 12%);
  --c-accent: hsl(29, 24%, 35%);
  --c-light: hsl(29, 12%, 90%);
  --c-alpha: hsla(29, 24%, 35%, 15%);
  --c-alpha-dark: hsla(29, 30%, 12%, 20%); }
  @media (prefers-color-scheme: dark) {
    [data-theme="immobrown"] {
      --c-accent: hsl(29, 24%, 45%); } }

[data-theme="realo"] {
  --c-dark: hsl(238, 27%, 12%);
  --c-accent: hsl(238, 24%, 37%);
  --c-light: hsl(238, 12%, 90%);
  --c-alpha: hsl(238, 24%, 37%, 15%);
  --c-alpha-dark: hsla(238, 27%, 12%, 20%); }
  @media (prefers-color-scheme: dark) {
    [data-theme="realo"] {
      --c-accent: hsl(238, 24%, 49%); } }

[data-theme="scorecard"] {
  --c-dark: hsl(180, 27%, 12%);
  --c-accent: hsl(180, 16%, 42%);
  --c-light: hsl(180, 8%, 90%);
  --c-alpha: hsla(180, 16%, 42%, 15%);
  --c-alpha-dark: hsla(180, 27%, 12%, 20%); }
  @media (prefers-color-scheme: dark) {
    [data-theme="scorecard"] {
      --c-accent: hsl(180, 16%, 44%); } }

[data-theme="shelf"] {
  --c-dark: hsl(360, 30%, 12%);
  --c-accent: hsl(360, 25%, 37%);
  --c-light: hsl(360, 12%, 90%);
  --c-alpha: hsla(360, 25%, 37%, 15%);
  --c-alpha-dark: hsla(360, 30%, 12%, 20%); }
  @media (prefers-color-scheme: dark) {
    [data-theme="shelf"] {
      --c-accent: hsl(360, 25%, 47%); } }

.o-grid .o-grid-align__measure {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--u-measure-s); }
  .o-grid .o-grid-align__measure.c-section--hero .c-card--gallery
.c-figure {
    margin: 0; }
  .o-grid .o-grid-align__measure--medium {
    max-width: var(--u-measure-m); }
  .o-grid .o-grid-align__measure--large {
    max-width: var(--u-measure-l); }
  .o-grid .o-grid-align__measure--xlarge {
    max-width: var(--u-measure-xl); }

.o-grid .o-grid-align__bleed {
  margin-left: -6vmin;
  margin-right: -6vmin; }
  .o-grid .o-grid-align__bleed.c-nav--secondary, .o-grid .o-grid-align__bleed.c-section {
    padding-left: 6vmin;
    padding-right: 6vmin; }

.o-grid .o-grid__flow, .o-grid .o-grid__abreast {
  display: grid;
  grid-row-gap: calc(var(--u-layout-gutter) * 1.25); }

.o-grid .o-grid__collage {
  display: grid;
  grid-row-gap: calc(var(--u-layout-gutter) * 1.25); }
  .o-grid .o-grid__collage .c-card--work {
    position: relative;
    transform-origin: center; }
    .o-grid .o-grid__collage .c-card--work[data-theme="diabetik"] {
      order: 5; }
    .o-grid .o-grid__collage .c-card--work[data-theme="helpper"] {
      order: 3; }
    .o-grid .o-grid__collage .c-card--work[data-theme="immobrown"] {
      order: 6; }
    .o-grid .o-grid__collage .c-card--work[data-theme="realo"] {
      order: 3; }
    .o-grid .o-grid__collage .c-card--work[data-theme="scorecard"] {
      order: 1; }
    .o-grid .o-grid__collage .c-card--work[data-theme="shelf"] {
      order: 4; }
  .o-grid .o-grid__collage .c-card--gallery {
    padding: var(--u-card-inset);
    background: var(--c-light); }
    .o-grid .o-grid__collage .c-card--gallery .c-figure {
      margin: 0; }

@media (min-width: 46em) {
  .o-grid .o-grid-align__inset {
    margin-left: var(--u-spacer-xs); }
  .o-grid .o-grid__abreast {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--u-layout-gutter); }
  .o-grid .o-grid__flow {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--u-layout-gutter); }
  .o-grid .o-grid__collage {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: var(--u-layout-gutter);
    align-items: stretch; }
    .o-grid .o-grid__collage .c-card {
      grid-column: span 6; }
      .o-grid .o-grid__collage .c-card--work {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .o-grid .o-grid__collage .c-card--work .c-card__image {
          flex: 1; }
        .o-grid .o-grid__collage .c-card--work[data-theme="diabetik"] {
          align-self: flex-start;
          order: 6;
          transform-origin: top left; }
        .o-grid .o-grid__collage .c-card--work[data-theme="helpper"] {
          order: 3; }
        .o-grid .o-grid__collage .c-card--work[data-theme="immobrown"] {
          align-self: stretch;
          order: 4; }
        .o-grid .o-grid__collage .c-card--work[data-theme="realo"] {
          align-self: flex-end;
          order: 1;
          transform-origin: bottom right; }
        .o-grid .o-grid__collage .c-card--work[data-theme="scorecard"] {
          order: 2;
          transform-origin: bottom left; }
        .o-grid .o-grid__collage .c-card--work[data-theme="shelf"] {
          order: 5;
          transform-origin: top right; }
    .o-grid .o-grid__collage .o-grid__item--small {
      grid-column: span 2; }
    .o-grid .o-grid__collage .o-grid__item--medium {
      grid-column: span 3; }
    .o-grid .o-grid__collage .o-grid__item--large {
      grid-column: span 4; } }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

::selection {
  color: white;
  background: var(--c-accent); }

body {
  margin: 0;
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  hypens: auto; }
  body.no-scroll {
    overflow: hidden; }

article, aside, footer, header, main, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  text-rendering: optimizeLegibility; }

a {
  color: currentColor;
  text-decoration: underline;
  background-color: transparent;
  transition: all var(--a-duration-vfast) var(--a-timing-bezier); }
  a:hover {
    color: var(--c-accent);
    text-decoration: none; }
  a:active {
    opacity: .65; }
  a:hover, a:active, a:focus {
    outline: 0; }

p, blockquote {
  margin: 0; }

b, strong {
  font-weight: bold; }

cite {
  font-style: italic; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

figure {
  margin: 0; }

img {
  width: 100%;
  border: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

ul, ol, dd {
  margin: 0;
  padding: 0; }

ul {
  list-style: circle; }

ol {
  list-style: none;
  counter-reset: li; }
  ol li {
    margin-bottom: var(--u-spacer-xxs);
    counter-increment: li; }
    ol li:last-child {
      margin-bottom: 0; }
    ol li::before {
      display: inline-block;
      margin-left: -1em;
      width: 1em;
      color: var(--c-accent);
      content: counter(li); }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  border: 0; }

label {
  display: block; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  border-radius: 0;
  overflow: visible;
  cursor: pointer; }

[type="checkbox"], [type="radio"] {
  padding: 0; }

textarea {
  overflow: auto; }

::placeholder {
  color: var(--c-accent); }

:focus::placeholder {
  opacity: 0.5; }

:focus {
  outline: none; }

body {
  font-family: var(--f-family-sans);
  font-size: var(--f-size-body);
  line-height: var(--f-leading);
  color: var(--c-dark);
  letter-spacing: var(--f-spacing-narrow); }

h1 {
  margin-bottom: var(--u-spacer-xs);
  font-family: var(--f-family-display);
  font-size: var(--f-size-h1);
  line-height: var(--f-leading-tight);
  font-weight: 400;
  color: var(--c-dark);
  text-transform: uppercase; }

h2, .c-blockquote__text {
  font-family: var(--f-family-serif);
  font-size: var(--f-size-h2);
  line-height: var(--f-leading);
  font-weight: 100;
  color: var(--c-accent); }
  h2:not(h2), .c-blockquote__text:not(h2) {
    margin-bottom: var(--u-spacer-xxs); }

h3 {
  margin-bottom: var(--u-spacer-xs);
  font-family: var(--f-family-sans);
  font-size: var(--f-size-h3);
  font-weight: 600;
  font-style: italic;
  letter-spacing: var(--f-spacing-tight);
  color: var(--c-accent); }

h4 {
  margin-bottom: var(--u-spacer-xs);
  font-size: var(--f-size-h4);
  font-weight: 500;
  letter-spacing: var(--f-spacing-extended);
  color: var(--c-accent);
  text-transform: uppercase; }
  h4:not(:first-child) {
    margin-top: var(--u-spacer-xs); }

small {
  font-size: var(--f-size-body-small);
  line-height: var(--f-leading);
  color: var(--c-accent); }

.c-figure__caption p {
  font-size: var(--f-size-body-fixed);
  line-height: var(--f-leading);
  color: var(--c-accent); }

cite {
  font-size: var(--f-size-body-fixed);
  line-height: var(--f-leading);
  font-style: normal;
  color: var(--c-dark); }

.c-page {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--u-measure-xl);
  background: white; }
  .c-page .c-page__header {
    margin-bottom: var(--u-spacer-l);
    max-width: var(--u-measure-s); }
  .c-page .c-page__body {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--u-spacer-l);
    max-width: var(--u-measure-m); }
    .c-page .c-page__body h3:not(:first-child), .c-page .c-page__body h4:not(:first-child) {
      margin-top: var(--u-spacer-m); }
    .c-page .c-page__body p, .c-page .c-page__body ol {
      margin-bottom: var(--u-spacer-xs); }
    .c-page .c-page__body .c-figure {
      margin-left: -6vmin;
      margin-right: -6vmin; }
      .c-page .c-page__body .c-figure .c-figure__caption {
        padding-left: 6vmin;
        padding-right: 6vmin;
        text-align: left; }

.c-section {
  margin-bottom: var(--u-spacer-l); }
  .c-section .c-section__header {
    margin-bottom: var(--u-spacer-l);
    max-width: var(--u-measure-s); }
    .c-section .c-section__header h4 {
      color: var(--c-dark); }
    .c-section .c-section__header--centered {
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  .c-section--accent, .c-section--darken {
    padding-top: var(--u-spacer-l);
    padding-bottom: var(--u-spacer-l); }
  .c-section--accent {
    color: white;
    background: var(--c-accent); }
    .c-section--accent .c-section__header h1 {
      color: var(--c-light); }
    .c-section--accent .c-section__header:last-child {
      margin-bottom: 0; }
    .c-section--accent p {
      opacity: var(--t-mid); }
    .c-section--accent .c-nav--secondary {
      border-bottom: 1px solid var(--c-alpha-dark); }
      .c-section--accent .c-nav--secondary .c-nav__items .c-nav__item a {
        color: var(--c-light); }
        .c-section--accent .c-nav--secondary .c-nav__items .c-nav__item a:hover {
          color: var(--c-dark); }
  .c-section--darken {
    color: var(--c-accent);
    background: var(--c-dark); }
    .c-section--darken h3, .c-section--darken h4, .c-section--darken .c-section__header h3, .c-section--darken .c-section__header h4 {
      color: var(--c-light); }
  .c-section:last-of-type {
    margin-bottom: var(--u-spacer-s); }
  @media (min-width: 62.5em) {
    .c-section--accent, .c-section--darken {
      padding-top: var(--u-spacer-m);
      padding-bottom: var(--u-spacer-m); } }

.c-masthead {
  margin-bottom: var(--u-spacer-s);
  padding: var(--u-spacer-m) 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  .c-masthead .c-masthead__title {
    margin-right: calc(1rem + 0.4vw); }
    .c-masthead .c-masthead__title a {
      display: table-caption;
      font-weight: 600;
      font-size: var(--f-size-body-fixed);
      line-height: var(--f-leading-vtight);
      text-decoration: none; }
      .c-masthead .c-masthead__title a:hover {
        color: var(--c-accent); }
  @media (min-width: 34em) {
    .c-masthead {
      margin-bottom: var(--u-spacer-m);
      padding: var(--u-spacer-s) 0;
      justify-content: flex-start; } }

.c-article .c-article__header {
  margin-bottom: var(--u-spacer-m);
  max-width: var(--u-measure-m); }

.c-footer {
  padding: var(--u-spacer-s) 0; }

.c-nav .c-nav__items {
  display: flex;
  list-style: none; }
  .c-nav .c-nav__items .c-nav__item {
    padding: 0 calc(0.5rem + 0.2vw); }
    .c-nav .c-nav__items .c-nav__item:last-child {
      padding-right: 0; }
    .c-nav .c-nav__items .c-nav__item a {
      display: block;
      font-size: var(--f-size-body-fixed);
      line-height: var(--f-leading-vtight);
      text-transform: lowercase;
      text-decoration: none; }
      .c-nav .c-nav__items .c-nav__item a[aria-current] {
        color: var(--c-accent);
        font-weight: 600; }

@media (min-width: 34em) {
  .c-nav .c-nav__items .c-nav__item {
    padding: 0 calc(0.75rem + 0.3vw); } }

.c-nav--secondary {
  padding-top: var(--u-spacer-m);
  border-bottom: 1px solid var(--c-alpha); }
  .c-nav--secondary .c-nav__items {
    justify-content: space-between; }
    .c-nav--secondary .c-nav__items .c-nav__item:first-child {
      padding-left: 0; }
    .c-nav--secondary .c-nav__items .c-nav__item a {
      padding-bottom: var(--u-spacer-xs);
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: inherit;
      text-transform: none; }
      .c-nav--secondary .c-nav__items .c-nav__item a svg {
        margin-bottom: calc(var(--u-spacer-xxs) / 1.5);
        width: 20px;
        height: 20px;
        stroke: currentColor; }
      .c-nav--secondary .c-nav__items .c-nav__item a:hover {
        box-shadow: 0 1px 0 currentColor; }
      .c-nav--secondary .c-nav__items .c-nav__item a:active {
        transition: none; }
  @media (min-width: 46em) {
    .c-nav--secondary {
      padding-top: var(--u-spacer-s); }
      .c-nav--secondary .c-nav__items {
        justify-content: flex-start; }
        .c-nav--secondary .c-nav__items .c-nav__item a {
          flex-direction: row; }
          .c-nav--secondary .c-nav__items .c-nav__item a svg {
            padding-right: calc(var(--u-spacer-xxs) / 1.5);
            margin-bottom: 0; } }

.c-form .c-form__label h4 {
  margin-bottom: var(--u-spacer-xxs); }

.c-form .c-form__input {
  margin-bottom: var(--u-spacer-xs);
  padding: var(--u-spacer-xxs);
  width: 100%;
  border: 2px solid var(--c-alpha);
  box-sizing: border-box; }
  .c-form .c-form__input:hover, .c-form .c-form__input:focus {
    border: 2px solid var(--c-accent); }

.c-form .c-form__button {
  padding: var(--u-spacer-xxs) var(--u-spacer-xs);
  color: var(--c-light);
  background: var(--c-dark); }
  .c-form .c-form__button:hover {
    background: var(--c-accent); }
  .c-form .c-form__button:active {
    opacity: .65; }

.c-figure {
  margin: var(--u-spacer-s) 0; }
  .c-figure img {
    display: block; }
  .c-figure .c-figure__caption {
    margin-top: var(--u-spacer-xxs);
    color: var(--c-accent); }
  @media (min-width: 62.5em) {
    .c-figure {
      margin: var(--u-spacer-xs) 0; } }

.c-card--work {
  position: relative;
  transition: transform var(--a-duration-normal) var(--a-timing-bezier), box-shadow var(--a-duration-normal) var(--a-timing-bezier); }
  .c-card--work .c-card__header {
    padding: var(--u-card-inset);
    color: white; }
    .c-card--work .c-card__header h3 {
      margin-bottom: var(--u-spacer-xxs);
      color: white; }
      .c-card--work .c-card__header h3 a {
        text-decoration: none;
        transition: none; }
        .c-card--work .c-card__header h3 a:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          z-index: 2; }
        .c-card--work .c-card__header h3 a:hover {
          color: currentColor; }
    .c-card--work .c-card__header p {
      margin-bottom: 0;
      max-width: calc(var(--u-measure-m) / 1.5);
      line-height: var(--f-leading-tight);
      opacity: var(--t-mid); }
  .c-card--work .c-card__image {
    padding: var(--u-card-inset); }
    .c-card--work .c-card__image img, .c-card--work .c-card__image source {
      transition: opacity var(--a-duration-normal) var(--a-timing-bezier); }
  .c-card--work:hover {
    transform: scale(1.04);
    box-shadow: var(--d-card); }
    .c-card--work:hover .c-card__image img, .c-card--work:hover .c-card__image source {
      opacity: 1; }
  .c-card--work:active .c-card__image img, .c-card--work .c-card__image source {
    opacity: .85;
    transition: none; }
  .c-card--work[data-theme="diabetik"] .c-card__header {
    background: var(--c-accent); }
  .c-card--work[data-theme="diabetik"] .c-card__image {
    background: var(--c-light); }
  .c-card--work[data-theme="helpper"] .c-card__header {
    background: var(--c-accent); }
  .c-card--work[data-theme="helpper"] .c-card__image {
    background: var(--c-light); }
  .c-card--work[data-theme="immobrown"] .c-card__header {
    background: var(--c-accent); }
  .c-card--work[data-theme="immobrown"] .c-card__image {
    background: var(--c-light); }
  .c-card--work[data-theme="realo"] .c-card__header {
    background: var(--c-accent); }
  .c-card--work[data-theme="realo"] .c-card__image {
    background: var(--c-light); }
  .c-card--work[data-theme="scorecard"] .c-card__header {
    background: var(--c-accent); }
  .c-card--work[data-theme="scorecard"] .c-card__image {
    background: var(--c-light); }
  .c-card--work[data-theme="shelf"] .c-card__header {
    background: var(--c-accent); }
  .c-card--work[data-theme="shelf"] .c-card__image {
    background: var(--c-light); }
  @media (min-width: 46em) {
    .c-card--work {
      display: flex;
      flex-direction: row; }
      .c-card--work .c-card__image {
        display: flex;
        align-items: center; }
        .c-card--work .c-card__image img {
          opacity: .85; } }

.c-card--gallery {
  display: flex;
  justify-content: center;
  align-items: center; }
  .c-card--gallery .c-figure__caption {
    text-align: center; }

@media (prefers-color-scheme: dark) {
  html {
    background: var(--c-dark); }
    html body, html h1, html cite, html .c-figure__caption {
      color: var(--c-light); }
    html .c-form .c-form__button {
      color: var(--c-light);
      background: var(--c-accent); }
      html .c-form .c-form__button:hover, html .c-form .c-form__button:focus {
        color: var(--c-dark);
        background: var(--c-light); }
    html .c-page {
      background: var(--c-dark); }
    html .c-section .c-section__header h4 {
      color: var(--c-light); }
    html .c-section--accent .c-nav--secondary .c-nav__items .c-nav__item a {
      color: var(--c-dark); }
      html .c-section--accent .c-nav--secondary .c-nav__items .c-nav__item a:hover {
        color: var(--c-light); }
    html .c-section--darken {
      color: var(--c-light);
      background: var(--c-alpha); }
      html .c-section--darken h4 {
        color: var(--c-light); }
    html .c-card--work[data-theme="diabetik"] .c-card__image {
      background: var(--c-alpha); }
    html .c-card--work[data-theme="helpper"] .c-card__image {
      background: var(--c-alpha); }
    html .c-card--work[data-theme="immobrown"] .c-card__image {
      background: var(--c-alpha); }
    html .c-card--work[data-theme="realo"] .c-card__image {
      background: var(--c-alpha); }
    html .c-card--work[data-theme="scorecard"] .c-card__image {
      background: var(--c-alpha); }
    html .c-card--work[data-theme="shelf"] .c-card__image {
      background: var(--c-alpha); }
  [data-theme="diabetik"] .o-grid__collage .c-card--gallery, [data-theme="helpper"] .o-grid__collage .c-card--gallery, [data-theme="immobrown"] .o-grid__collage .c-card--gallery, [data-theme="realo"] .o-grid__collage .c-card--gallery, [data-theme="scorecard"] .o-grid__collage .c-card--gallery, [data-theme="shelf"] .o-grid__collage .c-card--gallery {
    background: var(--c-alpha); } }
