:root {
  --c-matter-dark: hsl(240, 7%, 10%);
  --c-matter-accent: hsl(240, 5%, 56%);
  --c-matter-light: hsl(240, 6%, 93%);
  --c-matter-alpha: hsla(240, 5%, 56%, 15%);
  --c-diabetik-dark: hsl(104, 30%, 12%);
  --c-diabetik-accent: hsl(104, 24%, 35%);
  --c-diabetik-light: hsl(104, 12%, 90%);
  --c-diabetik-alpha: hsla(104, 24%, 35%, 15%);
  --c-helpper-dark: hsl(312, 27%, 12%);
  --c-helpper-accent: hsl(312, 16%, 35%);
  --c-helpper-light: hsl(312, 8%, 90%);
  --c-helpper-alpha: hsla(312, 16%, 35%, 15%);
  --c-immobrown-dark: hsl(29, 30%, 12%);
  --c-immobrown-accent: hsl(29, 24%, 35%);
  --c-immobrown-light: hsl(29, 12%, 90%);
  --c-immobrown-alpha: hsla(29, 24%, 35%, 15%);
  --c-realo-dark: hsl(238, 27%, 12%);
  --c-realo-accent: hsl(238, 22%, 35%);
  --c-realo-light: hsl(238, 12%, 90%);
  --c-realo-alpha: hsl(238, 22%, 35%, 15%);
  --c-scorecard-dark: hsl(180, 27%, 12%);
  --c-scorecard-accent: hsl(180, 16%, 35%);
  --c-scorecard-light: hsl(180, 8%, 90%);
  --c-scorecard-alpha: hsla(180, 16%, 35%, 15%);
  --c-shelf-dark: hsl(360, 30%, 12%);
  --c-shelf-accent: hsl(360, 23%, 35%);
  --c-shelf-light: hsl(360, 12%, 90%);
  --c-shelf-alpha: hsla(360, 23%, 35%, 15%);
  --f-family-sans: covik-sans, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-family-serif: ohno-blazeface, Georgia, serif;
  --f-family-display: bureau-grot-condensed, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-size-body: calc(1rem + 0.425vmin);
  --f-size-body-fixed: 1rem;
  --f-size-body-small: 0.875rem;
  --f-size-h1: calc(2.75rem + 1.45vw);
  --f-size-h2: calc(1.25rem + 0.75vw);
  --f-size-h3: calc(1.875rem + 0.25vw);
  --f-size-h4: calc(0.8rem + 0.12vw);
  --f-size-blockquote: var(--f-size-h3);
  --f-leading-tight: 1.25em;
  --f-leading: 1.4em;
  --f-spacing-narrow: -0.016743rem;
  --f-spacing-extended: 0.12rem;
  --u-vspacer-xs: calc(0.25rem + 1vh);
  --u-vspacer-s: calc(0.5rem + 1.5vh);
  --u-vspacer-m: calc(1rem + 3vh);
  --u-vspacer-l: calc(2rem + 6vh);
  --u-vspacer-xl: calc(4rem + 8vh);
  --u-hspacer-xs: calc(0.25rem + 1vh);
  --u-hspacer-s: calc(0.5rem + 1.5vh);
  --u-hspacer-m: calc(1rem + 3vh);
  --u-hspacer-l: calc(2rem + 6vh);
  --u-hspacer-xl: calc(4rem + 8vh);
  --u-line-measure: 42rem;
  --u-page-measure: 55em;
  --u-layout-gutter: 3vw;
  --t-bezier: cubic-bezier(.215, .61, .355, 1);
  --d-page: 0 0 4vw hsla(0, 0%, 0%, .1);
  --d-card: 0 1.5vw 2vw hsla(0, 0%, 0%, .12); }

.o-grid .c-masthead, .o-grid .c-footer {
  display: flex;
  align-items: center;
  flex-direction: column; }

.o-grid .c-masthead .c-cta--text {
  display: none; }

.o-grid .c-section--collage {
  display: grid;
  grid-template-columns: 1fr; }
  .o-grid .c-section--collage .c-card--diabetik {
    order: 5; }
  .o-grid .c-section--collage .c-card--helpper {
    order: 2; }
  .o-grid .c-section--collage .c-card--immobrown {
    order: 6; }
  .o-grid .c-section--collage .c-card--realo {
    order: 3; }
  .o-grid .c-section--collage .c-card--scorecard {
    order: 1; }
  .o-grid .c-section--collage .c-card--shelf {
    order: 4; }

@media (min-width: 46em) {
  .o-grid .c-masthead, .o-grid .c-footer {
    flex-direction: row; }
  .o-grid .c-masthead > * {
    flex: 33.33333%; }
  .o-grid .c-masthead .c-masthead__brand {
    order: 2;
    text-align: center; }
  .o-grid .c-masthead .c-cta--text {
    display: block;
    order: 3;
    text-align: right; }
  .o-grid .c-article--mc {
    column-count: 2;
    column-gap: var(--u-layout-gutter); }
  .o-grid .c-section--collage {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: var(--u-layout-gutter);
    align-items: flex-end; }
    .o-grid .c-section--collage .o-grid__item--small {
      grid-column: span 2; }
    .o-grid .c-section--collage .o-grid__item--medium {
      grid-column: span 3; }
    .o-grid .c-section--collage .o-grid__item--large {
      grid-column: span 4; }
    .o-grid .c-section--collage .c-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .o-grid .c-section--collage .c-card .c-card__artwork {
        display: flex;
        flex: 1;
        align-items: center; }
      .o-grid .c-section--collage .c-card--diabetik {
        align-self: flex-start;
        order: 6; }
      .o-grid .c-section--collage .c-card--helpper {
        order: 3; }
      .o-grid .c-section--collage .c-card--immobrown {
        align-self: stretch;
        order: 4; }
      .o-grid .c-section--collage .c-card--realo {
        order: 1; }
      .o-grid .c-section--collage .c-card--scorecard {
        order: 2; }
      .o-grid .c-section--collage .c-card--shelf {
        order: 5; } }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background: var(--c-matter-accent); }
  @media (min-width: 46em) {
    html {
      padding: 0 var(--u-hspacer-m); } }

::selection {
  color: white;
  background: var(--c-matter-accent); }

body {
  margin: 0;
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  hypens: auto; }
  body.no-scroll {
    overflow: hidden; }

article, aside, footer, header, main, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:active, a:focus {
    outline: 0; }

p {
  margin: 0 0 var(--u-vspacer-s); }

b, strong {
  font-weight: bold; }

cite {
  font-style: italic; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

figure {
  margin: 0; }

img {
  width: 100%;
  border: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

ul, ol, dd {
  margin: 0; }

ul {
  list-style: circle; }

ol {
  list-style: decimal; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  border: 0; }

label {
  display: block; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  border-radius: 0;
  overflow: visible;
  cursor: pointer; }

[type="checkbox"], [type="radio"] {
  padding: 0; }

textarea {
  overflow: auto; }

::placeholder {
  color: var(--c-neutral-dark-a50); }

:focus::placeholder {
  opacity: 0.5; }

:focus {
  outline: none; }

body {
  font-family: var(--f-family-sans);
  font-size: var(--f-size-body);
  line-height: var(--f-leading);
  color: var(--c-matter-dark);
  letter-spacing: var(--f-spacing-narrow); }

h1 {
  margin-bottom: calc(var(--u-hspacer-s) * 1.25);
  font-family: var(--f-family-display);
  font-size: var(--f-size-h1);
  font-weight: 400;
  color: var(--c-matter-dark);
  text-transform: uppercase; }

h2, .c-blockquote__text {
  font-family: var(--f-family-serif);
  font-size: var(--f-size-h2);
  line-height: var(--f-leading);
  font-weight: 100;
  color: var(--c-matter-accent); }

h3 {
  margin-bottom: calc(var(--u-hspacer-xs) * 1.25);
  font-family: var(--f-family-display);
  font-size: var(--f-size-h3);
  color: var(--c-matter-accent);
  font-weight: 400;
  text-transform: uppercase; }

h4 {
  font-size: var(--f-size-h4);
  font-weight: 500;
  letter-spacing: var(--f-spacing-extended);
  color: var(--c-matter-accent);
  text-transform: uppercase; }

small {
  font-size: var(--f-size-body-small);
  line-height: var(--f-leading); }

.c-figure__caption p {
  font-size: var(--f-size-body-fixed);
  line-height: var(--f-leading); }

cite {
  font-style: normal; }

.c-masthead {
  padding: var(--u-vspacer-m) 0;
  margin-bottom: var(--u-vspacer-m); }
  .c-masthead .c-masthead__brand {
    margin-bottom: var(--u-vspacer-xs);
    height: 22px; }
    .c-masthead .c-masthead__brand a svg {
      width: 124px;
      fill: var(--c-matter-dark); }
  .c-masthead .c-cta--text {
    text-transform: lowercase; }
  @media (min-width: 46em) {
    .c-masthead .c-masthead__brand {
      margin-bottom: 0; } }

.c-nav .c-nav__items {
  display: flex;
  padding: 0;
  list-style: none; }
  .c-nav .c-nav__items .c-nav__item {
    margin-right: var(--u-hspacer-s); }
    .c-nav .c-nav__items .c-nav__item a {
      font-size: var(--f-size-body-fixed);
      font-weight: 500;
      color: var(--c-matter-dark);
      text-transform: lowercase;
      text-decoration: none;
      transition: color 0.2s var(--t-bezier); }
      .c-nav .c-nav__items .c-nav__item a:hover {
        color: var(--c-matter-accent); }
    .c-nav .c-nav__items .c-nav__item:last-child {
      margin-right: 0; }
    .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a {
      color: var(--c-matter-accent); }

.c-footer {
  padding: var(--u-vspacer-m) 0;
  color: var(--c-matter-accent); }

.c-page {
  padding: 0 var(--u-hspacer-s);
  background: white;
  box-shadow: var(--d-page); }
  .c-page .c-page__header {
    margin-bottom: calc(var(--u-vspacer-m) + var(--u-vspacer-m));
    max-width: var(--u-line-measure);
    text-align: center; }
  @media (min-width: 34em) {
    .c-page {
      padding: 0 var(--u-hspacer-m); } }
  @media (min-width: 46em) {
    .c-page .c-page__header {
      padding: calc(var(--u-vspacer-s) + var(--u-vspacer-s)) 0;
      text-align: left; } }
  @media (min-width: 62.5em) {
    .c-page {
      padding: 0 var(--u-hspacer-l); } }

.c-section {
  margin-bottom: var(--u-vspacer-m); }

.c-section--hero {
  margin-bottom: calc(var(--u-vspacer-m) + var(--u-vspacer-m)); }

.c-section--collage .c-card, .c-section--collage .c-figure {
  margin-bottom: var(--u-vspacer-m); }

.c-section--collage .c-card--immobrown {
  margin-bottom: 0; }

.c-section--collage .c-figure {
  padding: calc(var(--u-vspacer-s) * 1.25);
  background: var(--c-matter-light); }
  .c-section--collage .c-figure .c-figure__caption p {
    margin-bottom: 0;
    text-align: center; }

@media (min-width: 46em) {
  .c-section--collage .c-card, .c-section--collage .c-figure {
    margin-bottom: 0; } }

.c-article {
  margin-bottom: var(--u-vspacer-m); }

.c-card {
  position: relative;
  transform-origin: center;
  transition: transform 0.45s var(--t-bezier), box-shadow 0.45s var(--t-bezier); }
  .c-card .c-card__artwork {
    padding: calc(var(--u-vspacer-s) * 1.25); }
    .c-card .c-card__artwork img {
      transition: opacity 0.45s var(--t-bezier); }
  .c-card .c-card__header {
    padding: calc(var(--u-vspacer-s) * 1.25);
    color: white; }
    .c-card .c-card__header h3 {
      margin-bottom: calc(var(--u-hspacer-xs) / 1.25);
      color: white; }
      .c-card .c-card__header h3 a {
        text-decoration: none; }
        .c-card .c-card__header h3 a:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          z-index: 2; }
    .c-card .c-card__header p {
      margin-bottom: 0;
      opacity: .6;
      max-width: calc(var(--u-line-measure) / 1.5); }
  .c-card:hover {
    transform: scale(1.04);
    box-shadow: var(--d-card); }
    .c-card:hover .c-card__artwork img {
      opacity: 1; }
  .c-card:active .c-card__artwork img {
    opacity: .85;
    transition: none; }
  @media (min-width: 46em) {
    .c-card .c-card__artwork img {
      opacity: .85; }
    .c-card--diabetik {
      transform-origin: top left; }
    .c-card--realo {
      transform-origin: bottom right; }
    .c-card--scorecard {
      transform-origin: bottom left; }
    .c-card--shelf {
      transform-origin: top right; } }

.c-card--diabetik .c-card__header {
  background: var(--c-diabetik-accent); }

.c-card--diabetik .c-card__artwork {
  background: var(--c-diabetik-light); }

.c-card--helpper .c-card__header {
  background: var(--c-helpper-accent); }

.c-card--helpper .c-card__artwork {
  background: var(--c-helpper-light); }

.c-card--immobrown .c-card__header {
  background: var(--c-immobrown-accent); }

.c-card--immobrown .c-card__artwork {
  background: var(--c-immobrown-light); }

.c-card--realo .c-card__header {
  background: var(--c-realo-accent); }

.c-card--realo .c-card__artwork {
  background: var(--c-realo-light); }

.c-card--scorecard .c-card__header {
  background: var(--c-scorecard-accent); }

.c-card--scorecard .c-card__artwork {
  background: var(--c-scorecard-light); }

.c-card--shelf .c-card__header {
  background: var(--c-shelf-accent); }

.c-card--shelf .c-card__artwork {
  background: var(--c-shelf-light); }

.c-figure {
  margin-bottom: 0; }
  .c-figure img {
    display: block; }
  .c-figure .c-figure__caption {
    margin-top: var(--u-hspacer-xs);
    color: var(--c-matter-accent); }

a {
  color: currentColor;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }
  a:active {
    opacity: .6; }

.c-cta--text {
  font-size: var(--f-size-body-fixed);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s var(--t-bezier); }
  .c-cta--text:after {
    padding-left: 3px;
    content: '\2192'; }
  .c-cta--text:hover {
    color: var(--c-matter-accent); }

.c-list {
  padding: 0;
  list-style: none; }
  .c-list .c-list__item {
    margin-bottom: 0; }

@media (prefers-color-scheme: dark) {
  html body, html h1, html .c-nav .c-nav__items .c-nav__item a, html .c-figure__caption {
    color: var(--c-matter-light); }
  html .c-page {
    background: var(--c-matter-dark); }
  html .c-card--diabetik .c-card__artwork {
    background: var(--c-diabetik-alpha); }
  html .c-card--helpper .c-card__artwork {
    background: var(--c-helpper-alpha); }
  html .c-card--immobrown .c-card__artwork {
    background: var(--c-immobrown-alpha); }
  html .c-card--realo .c-card__artwork {
    background: var(--c-realo-alpha); }
  html .c-card--scorecard .c-card__artwork {
    background: var(--c-scorecard-alpha); }
  html .c-card--shelf .c-card__artwork {
    background: var(--c-shelf-alpha); }
  html.t--diabetik body, html.t--diabetik h1, html.t--diabetik .c-nav .c-nav__items .c-nav__item a, html.t--diabetik .c-figure__caption {
    color: var(--c-diabetik-light); }
  html.t--diabetik .c-page {
    background: var(--c-diabetik-dark); }
  html.t--diabetik .c-section--collage .c-figure {
    background: var(--c-diabetik-alpha); }
  html.t--helpper body, html.t--helpper h1, html.t--helpper .c-nav .c-nav__items .c-nav__item a, html.t--helpper .c-figure__caption {
    color: var(--c-helpper-light); }
  html.t--helpper .c-page {
    background: var(--c-helpper-dark); }
  html.t--helpper .c-section--collage .c-figure {
    background: var(--c-helpper-alpha); }
  html.t--immobrown body, html.t--immobrown h1, html.t--immobrown .c-nav .c-nav__items .c-nav__item a, html.t--immobrown .c-figure__caption {
    color: var(--c-immobrown-light); }
  html.t--immobrown .c-page {
    background: var(--c-immobrown-dark); }
  html.t--immobrown .c-section--collage .c-figure {
    background: var(--c-immobrown-alpha); }
  html.t--realo body, html.t--realo h1, html.t--realo .c-nav .c-nav__items .c-nav__item a, html.t--realo .c-figure__caption {
    color: var(--c-realo-light); }
  html.t--realo .c-page {
    background: var(--c-realo-dark); }
  html.t--realo .c-section--collage .c-figure {
    background: var(--c-realo-alpha); }
  html.t--scorecard body, html.t--scorecard h1, html.t--scorecard .c-nav .c-nav__items .c-nav__item a, html.t--scorecard .c-figure__caption {
    color: var(--c-scorecard-light); }
  html.t--scorecard .c-page {
    background: var(--c-scorecard-dark); }
  html.t--scorecard .c-section--collage .c-figure {
    background: var(--c-scorecard-alpha); }
  html.t--shelf body, html.t--shelf h1, html.t--shelf .c-nav .c-nav__items .c-nav__item a, html.t--shelf .c-figure__caption {
    color: var(--c-shelf-light); }
  html.t--shelf .c-page {
    background: var(--c-shelf-dark); }
  html.t--shelf .c-section--collage .c-figure {
    background: var(--c-shelf-alpha); } }

.t--diabetik {
  background: var(--c-diabetik-accent); }
  .t--diabetik body, .t--diabetik h1, .t--diabetik .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-diabetik-dark); }
  .t--diabetik ::selection {
    background: var(--c-diabetik-accent); }
  .t--diabetik h2, .t--diabetik h3, .t--diabetik h4, .t--diabetik .c-cta--text:hover, .t--diabetik .c-nav .c-nav__items .c-nav__item a:hover, .t--diabetik .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a, .t--diabetik .c-figure__caption, .t--diabetik .c-footer {
    color: var(--c-diabetik-accent); }
  .t--diabetik .c-masthead__brand a svg {
    fill: var(--c-diabetik-accent); }
  .t--diabetik .c-section--collage .c-figure {
    background: var(--c-diabetik-light); }

.t--helpper {
  background: var(--c-helpper-accent); }
  .t--helpper body, .t--helpper h1, .t--helpper .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-helpper-dark); }
  .t--helpper ::selection {
    background: var(--c-helpper-accent); }
  .t--helpper h2, .t--helpper h3, .t--helpper h4, .t--helpper .c-cta--text:hover, .t--helpper .c-nav .c-nav__items .c-nav__item a:hover, .t--helpper .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a, .t--helpper .c-figure__caption, .t--helpper .c-footer {
    color: var(--c-helpper-accent); }
  .t--helpper .c-masthead__brand a svg {
    fill: var(--c-helpper-accent); }
  .t--helpper .c-section--collage .c-figure {
    background: var(--c-helpper-light); }

.t--immobrown {
  background: var(--c-immobrown-accent); }
  .t--immobrown body, .t--immobrown h1, .t--immobrown .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-immobrown-dark); }
  .t--immobrown ::selection {
    background: var(--c-immobrown-accent); }
  .t--immobrown h2, .t--immobrown h3, .t--immobrown h4, .t--immobrown .c-cta--text:hover, .t--immobrown .c-nav .c-nav__items .c-nav__item a:hover, .t--immobrown .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a, .t--immobrown .c-figure__caption, .t--immobrown .c-footer {
    color: var(--c-immobrown-accent); }
  .t--immobrown .c-masthead__brand a svg {
    fill: var(--c-immobrown-accent); }
  .t--immobrown .c-section--collage .c-figure {
    background: var(--c-immobrown-light); }

.t--realo {
  background: var(--c-realo-accent); }
  .t--realo body, .t--realo h1, .t--realo .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-realo-dark); }
  .t--realo ::selection {
    background: var(--c-realo-accent); }
  .t--realo h2, .t--realo h3, .t--realo h4, .t--realo .c-cta--text:hover, .t--realo .c-nav .c-nav__items .c-nav__item a:hover, .t--realo .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a, .t--realo .c-figure__caption, .t--realo .c-footer {
    color: var(--c-realo-accent); }
  .t--realo .c-masthead__brand a svg {
    fill: var(--c-realo-accent); }
  .t--realo .c-section--collage .c-figure {
    background: var(--c-realo-light); }

.t--scorecard {
  background: var(--c-scorecard-accent); }
  .t--scorecard body, .t--scorecard h1, .t--scorecard .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-scorecard-dark); }
  .t--scorecard ::selection {
    background: var(--c-scorecard-accent); }
  .t--scorecard h2, .t--scorecard h3, .t--scorecard h4, .t--scorecard .c-cta--text:hover, .t--scorecard .c-nav .c-nav__items .c-nav__item a:hover, .t--scorecard .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a, .t--scorecard .c-figure__caption, .t--scorecard .c-footer {
    color: var(--c-scorecard-accent); }
  .t--scorecard .c-masthead__brand a svg {
    fill: var(--c-scorecard-accent); }
  .t--scorecard .c-section--collage .c-figure {
    background: var(--c-scorecard-light); }

.t--shelf {
  background: var(--c-shelf-accent); }
  .t--shelf body, .t--shelf h1, .t--shelf .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-shelf-dark); }
  .t--shelf ::selection {
    background: var(--c-shelf-accent); }
  .t--shelf h2, .t--shelf h3, .t--shelf h4, .t--shelf .c-cta--text:hover, .t--shelf .c-nav .c-nav__items .c-nav__item a:hover, .t--shelf .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a, .t--shelf .c-figure__caption, .t--shelf .c-footer {
    color: var(--c-shelf-accent); }
  .t--shelf .c-masthead__brand a svg {
    fill: var(--c-shelf-accent); }
  .t--shelf .c-section--collage .c-figure {
    background: var(--c-shelf-light); }
