// =======================================================================
// Card
// =======================================================================

.c-card--work {
  position: relative;
  transition: transform .45s var(--t-bezier), box-shadow .45s var(--t-bezier);
  .c-card__header {
    padding: var(--u-card-inset);
    color: white;
    h3 {
      margin-bottom: var(--u-spacer-xxs);
      color: white; 
      a {
        text-decoration: none;
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          z-index: 2;
        }
      }
    }
    p {
      margin-bottom: 0;
      max-width: calc(var(--u-measure-m) / 1.5);
      opacity: .6;
    }
  }
  .c-card__image {
    padding: var(--u-card-inset);
    img {
      transition: opacity .45s var(--t-bezier);  
    }
  }
  &:hover {
    transform: scale(1.04);
    box-shadow: var(--d-card);
    .c-card__image img {
      opacity: 1;
    }
  }
  &:active {
    .c-card__image img {
      opacity: .85;
      transition: none;
    }  
  }
  &--diabetik {
    .c-card__header {
      background: var(--c-diabetik-accent);
    }
    .c-card__image {
      background: var(--c-diabetik-light);
    }  
  }
  &--helpper {
    .c-card__header {
      background: var(--c-helpper-accent);
    }
    .c-card__image {
      background: var(--c-helpper-light);
    }  
  }
  &--immobrown {
    .c-card__header {
      background: var(--c-immobrown-accent);
    }
    .c-card__image {
      background: var(--c-immobrown-light);
    }  
  }
  &--realo {
    .c-card__header {
      background: var(--c-realo-accent);
    }
    .c-card__image {
      background: var(--c-realo-light);
    }  
  }
  &--scorecard {
    .c-card__header {
      background: var(--c-scorecard-accent);
    }
    .c-card__image {
      background: var(--c-scorecard-light);
    }  
  }
  &--shelf {
    .c-card__header {
      background: var(--c-shelf-accent);
    }
    .c-card__image {
      background: var(--c-shelf-light);
    }  
  }
  @media(min-width: $u-layout-break-m) {
    display: flex;
    flex-direction: row;
    .c-card__image {
      display: flex;
      align-items: center;
      img {
        opacity: .85;
      }
    }
  }
}
.c-card--gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  .c-figure__caption {
    text-align: center;
  }
}
.c-card--article {

}
.c-card--note {

}