// =======================================================================
// Figure
// =======================================================================

.c-figure {
  margin: var(--u-spacer-s) 0;
  img {
    display: block;
  }
  .c-figure__caption {
    margin-top: var(--u-spacer-xxs);
    color: var(--c-accent);
  }
  @media(min-width: $u-layout-break-l) {
    margin: var(--u-spacer-xs) 0;
  }
}