// =======================================================================
// Figure
// =======================================================================

.c-figure {
  margin-bottom: 0;
  img {
    display: block;
  }
  .c-figure__caption {
    color: currentColor;
  }
}