// =======================================================================
// Figure
// =======================================================================

.c-figure {
  margin-bottom: 0;
  img {
    display: block;
  }
  .c-figure__caption {
    margin-top: var(--u-spacer-xs);
    color: var(--c-matter-accent);
  }
}