// =======================================================================
// Form
// =======================================================================

.c-form {
  .c-form__label h4 {
    margin-bottom: var(--u-spacer-xxs);
  }
  .c-form__input {
    margin-bottom: var(--u-spacer-xs);
    padding: var(--u-spacer-xxs);
    width: 100%;
    border: 2px solid var(--c-alpha);
    box-sizing: border-box;
    &:hover, &:focus {
      border: 2px solid var(--c-accent);
    }
  }
  .c-form__button {
    padding: var(--u-spacer-xxs) var(--u-spacer-xs);
    color: var(--c-light);
    background: var(--c-dark);
    &:hover {
      background: var(--c-accent);
    }
    &:active {
      opacity: .65;
    }
  }
}