// =======================================================================
// Lists
// =======================================================================

.c-list {
  padding: 0;
  list-style: none;
  .c-list__item {
    margin-bottom: 0;
  }
}