// =======================================================================
// Masthead
// =======================================================================

.c-masthead {
  margin-bottom: var(--u-spacer-s);
  padding: var(--u-spacer-m) 0;
  .c-masthead__title {
    margin-bottom: var(--u-spacer-xxs);
    border-bottom: 1px solid;
    border-color: var(--c-darkest);
    a {
      font-size: var(--f-size-body-fixed);
      font-weight: 500;
      text-decoration: none;
      svg {
        display: block;
        margin-bottom: var(--u-spacer-xxs);
        width: 44px;
        height: 44px;
        fill: var(--c-darkest);
      }
      &:hover {
        color: var(--c-accent);
        fill: var(--c-accent);
      } 
    }
  }
  @media(min-width: $u-layout-break-s) {
    margin-bottom: var(--u-spacer-m);
    padding: var(--u-spacer-s) 0;
    justify-content: flex-start;
  }
}