// =======================================================================
// Navigation
// =======================================================================

.c-nav {
  .c-nav__items {
    display: flex;
    list-style: none;
    .c-nav__item {
      padding: 0 calc(0.5rem + 0.2vw);
      a {
        display: block;
        font-size: var(--f-size-body-fixed);
        line-height: var(--f-leading-vtight);
        //color: var(--c-matter-dark);
        text-transform: lowercase;
        text-decoration: none;
        &:hover, &[aria-current] {
          color: var(--c-matter-accent);
        }
      }
    }
  }
}