// =======================================================================
// Navigation
// =======================================================================

.c-nav {
  .c-nav__items {
    display: flex;
    padding: 0;
    list-style: none;
    .c-nav__item {
      margin-right: var(--u-hspacer-s);
      a {
        font-size: var(--f-size-body-fixed);
        font-weight: 500;
        color: var(--c-matter-dark);
        text-transform: lowercase;
        text-decoration: none;
        transition: color .2s var(--t-bezier);
        &:hover {
          color: var(--c-matter-accent);
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &.c-nav__item--selected a {
        color: var(--c-matter-accent);
      }
    }
  }
}