// =======================================================================
// Page
// =======================================================================

.c-page {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--u-page-measure);
  background: white;
  .c-page__header {
    margin-bottom: var(--u-spacer-l);
    max-width: var(--u-lede-measure);
  }
  .c-page__body {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--u-spacer-l);
    max-width: var(--u-line-measure);
    h3:not(:first-child), h4:not(:first-child) {
      margin-top: var(--u-spacer-s);
    }
    p, ol {
      margin-bottom: var(--u-spacer-xs);
    }
    .c-figure {
      margin-left: -6vmin; //100vw - 88vmin / 2
      margin-right: -6vmin; //100vw - 88vmin / 2
      .c-figure__caption {
        padding-left: 6vmin;
        text-align: left;
      }
    }
  }
}