// =======================================================================
// Page
// =======================================================================

.c-page {
  //margin: 0 auto;
  padding: 0 var(--u-hspacer-s);
  //max-width: var(--u-page-measure);
  background: white;
  box-shadow: var(--d-page);
  .c-page__header {
    margin-bottom: calc(var(--u-vspacer-m) + var(--u-vspacer-m));
    max-width: var(--u-line-measure);
    text-align: center;
  }
  @media(min-width: $u-layout-break-s) {
    padding: 0 var(--u-hspacer-m);
  }
  @media(min-width: $u-layout-break-m) {
    .c-page__header {
      // apply left inset (margin-left vw) on larger viewports
      
      padding: calc(var(--u-vspacer-s) + var(--u-vspacer-s)) 0;
      text-align: left;
    }
  }
  @media(min-width: $u-layout-break-l) {
    padding: 0 var(--u-hspacer-l);  
  }
  @media(min-width: $u-layout-break-xl) {
    //padding: 0 var(--u-hspacer-xl);  
  }
}