// =======================================================================
// Page
// =======================================================================

.c-page {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--u-page-measure);
  background: white;
  .c-page__header {
    margin-bottom: var(--u-spacer-l);
    max-width: var(--u-line-measure);
  }
  .c-page__body {
    margin-bottom: var(--u-spacer-l);
    &.c-article p {
      text-indent: var(--u-spacer-xs);
    }
  }
  @media(min-width: $u-layout-break-m) {
    .c-page__body--mc {
      column-count: 2;
      column-gap: var(--u-layout-gutter);
    }
  }
}