// =======================================================================
// Sections
// =======================================================================

.c-section {
  margin-bottom: var(--u-spacer-l);
  .c-section__header {
    margin-bottom: var(--u-spacer-m);
    border-bottom: 1px solid var(--c-accent);
    p {
      color: var(--c-accent);
      > span {
        font-weight: 500;
        color: var(--c-dark);
      }
    }
    h4 {
      color: var(--c-dark);
    }
    &--centered {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  .c-section__caption {
    margin-bottom: var(--u-spacer-xs);
    > * {
      font-size: var(--f-size-caption);
    }
  }
  .c-section__aside {
    .c-list .c-list__item a {
      font-size: var(--f-size-base);
    }
  }
  *[data-theme="tint--light"], *[data-theme="tint--accent"], *[data-theme="tint--dark"] {
    padding-top: var(--u-spacer-s);
    padding-bottom: var(--u-spacer-s); 
  }
  *[data-theme="tint--light"] {
    background: var(--c-light);
    .c-card__header > *, .c-card__body > *, .c-card__footer > * {
      color: var(--c-dark);
    }
  }
  *[data-theme="tint--accent"] {
    background: var(--c-accent);
    .c-card__header > *, .c-card__body > *, .c-card__footer > * {
      color: var(--c-dark);
    }
  }
  *[data-theme="tint--dark"] {
    background: var(--c-dark);
    .c-card__header > *, .c-card__body > *, .c-card__footer > * {
      color: var(--c-accent);
    }
    .c-card__header a {
      color: white;
      &:hover {
        color: var(--c-accent);
      }
    }
    .c-card__body a:hover {
      color: white;
    }
  }
  &[data-theme="tint--light"], &[data-theme="tint--accent"], &[data-theme="tint--dark"] {
    padding-top: var(--u-spacer-l);
    padding-bottom: var(--u-spacer-l);  
  }
  &[data-theme="tint--accent"] {
    .c-section__header {
      h1 {
        color: var(--c-light);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    background: var(--c-accent);
    p {
      color: white;
      opacity: var(--t-mid);
    }
    .c-nav--secondary {
      border-bottom: 1px solid var(--c-alpha-dark);
      .c-nav__items .c-nav__item a {
        color: var(--c-light);
        &:hover {
          color: var(--c-dark);
        }
      }
    }
  }
  &[data-theme="tint--dark"] {
    color: var(--c-accent);
    background: var(--c-dark);
    h3, h4, .c-section__header h3, .c-section__header h4 {
      color: var(--c-light);
    }
  }
  &:last-of-type {
    margin-bottom: var(--u-spacer-s);
  }
  &--elevator {
    background: linear-gradient(to right, var(--c-light) 60%, var(--c-dark) 40%);
    * > [data-theme="tint--light"] {
      padding-right: var(--u-layout-gutter);
    }
    * > [data-theme="tint--dark"] {
      padding-left: var(--u-layout-gutter);
    }  
  }
  @media(min-width: $u-layout-break-l) {
    &--accent, &--darken {
      padding-top: var(--u-spacer-m);
      padding-bottom: var(--u-spacer-m);
    }
  }
}