// =======================================================================
// Typography
// =======================================================================

// Body
body {
  font-family: var(--f-family-sans);
  font-size: var(--f-size-body);
  line-height: var(--f-leading);
  color: var(--c-matter-dark);
  letter-spacing: var(--f-spacing-narrow);
}

// Headings
h1 {
  margin-bottom: var(--u-spacer-xs);
  font-family: var(--f-family-display);
  font-size: var(--f-size-h1);
  line-height: var(--f-leading-tight);
  font-weight: 400;
  color: var(--c-matter-dark);
  text-transform: uppercase;
}
h2, .c-blockquote__text {
  font-family: var(--f-family-serif);
  font-size: var(--f-size-h2);
  line-height: var(--f-leading);
  font-weight: 100;
  color: var(--c-matter-accent);
  &:not(h2) {
    margin-bottom: var(--u-spacer-xxs);
  }
}

h3 {
  margin-bottom: var(--u-spacer-xs);
  font-family: var(--f-family-display);
  font-size: var(--f-size-h3);
  color: var(--c-matter-dark);
  font-weight: 400;
}
h4 {
  margin-bottom: var(--u-spacer-xs);
  font-size: var(--f-size-h4);
  font-weight: 500;
  letter-spacing: var(--f-spacing-extended);
  color: var(--c-matter-accent);
  text-transform: uppercase;
  &:not(:first-child) {
    margin-top: var(--u-spacer-xs);
  }
}

// Miscellaneous
small {
  font-size: var(--f-size-body-small);
  line-height: var(--f-leading);
  color: var(--c-matter-accent);
}
.c-figure__caption p {
  font-size: var(--f-size-body-fixed);
  line-height: var(--f-leading);
  color: var(--c-matter-accent);
}
cite {
  font-size: var(--f-size-body-fixed);
  line-height: var(--f-leading);
  font-style: normal;
  color: var(--c-matter-dark);
}