// =======================================================================
// Typography
// =======================================================================

// Body
body {
  font: 400 var(--f-size-body)/var(--f-leading) var(--f-family-sans);
  color: var(--c-dark);
}

// Headings
h1 {
  margin-bottom: var(--u-spacer-xs);
  font: 700 var(--f-size-title)/var(--f-leading-tight) var(--f-family-sans);
  color: var(--c-dark);
}
h2 {
  font: 400 var(--f-size-lede)/var(--f-leading-tight) var(--f-family-sans);
  color: var(--c-accent);
}

h3 {
  margin-bottom: var(--u-spacer-xs);
  font: 600 italic var(--f-size-subhead)/var(--f-leading) var(--f-family-sans);
  color: var(--c-accent);
}
h4 { //potentially remove
  margin-bottom: var(--u-spacer-xs);
  font-weight: 500;
  font-size: var(--f-size-h4);
  text-transform: uppercase;
  letter-spacing: var(--f-spacing-extended);
  color: var(--c-accent);
  &:not(:first-child) {
    margin-top: var(--u-spacer-xs);
  }
}

// Miscellaneous
small {
  font-size: var(--f-size-body-small);
  line-height: var(--f-leading-vtight);
  color: var(--c-accent);
}
.c-blockquote__text {
  font-weight: 400;
  font-size: var(--f-size-blockquote);
  line-height: var(--f-leading-tight);
  color: var(--c-accent);
}
.c-figure__caption p {
  font-size: var(--f-size-caption);
  line-height: var(--f-leading);
  color: var(--c-accent);
}
cite {
  font-style: normal;
  font-size: var(--f-size-caption);
  line-height: var(--f-leading);
  color: var(--c-dark);
}