{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>
  {% include navSocial %}
</header>
<section class="c-page__body c-section">
  
</section>
{% endblock %}