{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>
  {% include social %}
</header>
<section class="c-page__body c-section">
  {% if type != 'success' %}
  <form action="https://formsapi.jabwn.com/key/Ig9R68a9itb9dBc4jw1s" method="post" role="contact-form" class="c-form">
    <fieldset class="c-form__fields">
      <input type="hidden" name="_replyto" value="%email">
      <input type="text" name="_honey" value="" style="display:none">
      <input type="hidden" name="_after" value="{{ site.url }}/contact/thank-you/">
      <div class="c-form__field">
        <label class="c-form__label" for="name"><h4>Name</h4></label>
        <input class="c-form__input" id="name" name="name" type="text" required>
      </div>
      <div class="c-form__field">
        <label class="c-form__label" for="email"><h4>Email address</h4></label>
        <input class="c-form__input" id="email" name="email" type="email" required>
      </div>
      <div class="c-form__field">
        <label class="c-form__label" for="message"><h4>Message</h4></label>
        <textarea class="c-form__input" id="message" name="message" rows="8" cols="22" required></textarea>
      </div>
      <button class="c-form__button" type="submit" value="Send">Send</button>
    </fieldset>
  </form>
  {% else %}
  {{ content }}
  {% endif %}
</section>
{% endblock %}