{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<section class="o-grid__collage c-section">
  {% for case in cases %}
  {% include cards/cardWork %}
  {% endfor %}
</section>
{% endblock %}