{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<section class="o-grid-align__bleed o-grid__asymmetric c-section">
  <div data-theme="tint--ligh">
    {% for item in collections.articles limit: 1 %}
    {% include cards/cardArticle %}
    {% endfor %}
  </div>
  <div data-theme="tint--dar">
    <header class="c-section__caption">
      <h4>Bookmarked</h4>
    </header>
    {% for item in collections.bookmarks limit: 5 %}
    {% include cards/cardBookmark %}
    {% endfor %}
  </div>
</section>

<section class="c-section">
  <header class="c-section__header">
    <p><span>Notes.</span> Bite-sized thoughts and opinions.</p>
  </header>
  <div class="o-grid__masonry">
    {% for item in collections.notes %}
    {% include cards/cardNote %}
    {% endfor %}
  </div>
</section>

<section class="o-grid__asymmetric c-section">
  <div>
    <header class="c-section__caption">
      <h4>Entertainment</h4>
    </header>
    {% for item in collections.entertainment %}
    {% include cards/cardPlaylist %}
    {% endfor %}
  </div>
  <aside>
    <header class="c-section__caption">
      <h4>Blog Roll</h4>
    </header>
    {% for item in blogroll %}
    <article class="c-card">
      <div class="c-card__body">
        <a href="{{ item.link }}">{{ item.name }}</a>
      </div>
    </article>
    {% endfor %}
  </aside>
</section>
{% endblock %}