{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<section class="o-grid__asymmetric c-section"><!--bleed section-->
  <div data-theme="tint--accent">
    {% for item in collections.articles %}
    {% include cards/cardArticle %}
    {% endfor %}
  </div>
  <div data-theme="tint--dark">
    <h4>Bookmarked</h4>
    {% for item in collections.bookmarks %}
    {% include cards/cardBookmark %}
    {% endfor %}
  </div><!--end bookmarks-->
</section><!--end latest article + bookmarks-->

<section class="c-section">
  <header class="c-section__header">
    <p><span>Notes.</span> Bite-sized thoughts and opinions.</p>
  </header>
  {% for item in collections.notes %}
  {% include cards/cardNote %}
  {% endfor %}  
</section><!--end notes-->

<section class="c-section">
  <div>
    <h4>Entertainment</h4>
    {% for item in collections.entertainment %}
    {% include cards/cardPlaylist %}
    {% endfor %}
  </div><!--end entertainment-->
  <aside>
    <h4>Blog Roll</h4>
    {% for item in blogroll %}
    <article class="c-card">
      <div class="c-card__body">
        <a href="{{ item.link }}">{{ item.name }}</a>
      </div>
    </article>
    {% endfor %}
  </aside>
</section><!--end entertainment + blogroll-->
{% endblock %}