{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<section class="c-section">
  <h4>Latest Writing</h4>
  {% for item in collections.articles %}
  {% include cards/cardArticle %}
  {% endfor %}
  <div>
    <h4>Bookmarked</h4>
    {% for item in collections.bookmarks %}
    {% include cards/cardBookmark %}
    {% endfor %}
  </div><!--end bookmarks-->
</section><!--end latest article + bookmarks-->

<section class="c-section">
  <h4>Notes</h4>
  {% for item in collections.notes %}
  {% include cards/cardNote %}
  {% endfor %}  
</section><!--end notes-->

<section class="c-section">
  <div>
    <h4>Entertainment</h4>
    {% for item in collections.entertainment %}
    {% include cards/cardPlaylist %}
    {% endfor %}
  </div><!--end entertainment-->
  <aside>
    <h4>Blog Roll</h4>
    {% for item in blogroll %}
    <article class="c-card">
      <main class="c-card__main">
        <a href="{{ item.link }}">{{ item.name }}</a>
      </main>
    </article>
    {% endfor %}
  </aside>
</section><!--end entertainment + blogroll-->
{% endblock %}