{% layout master %}
{% block layout %}
<header class="o-grid-align__inst c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<section class="o-grid-align__bleed c-section c-section--elevator">
  <div class="o-grid-align__wrap o-grid__asymmetric o-grid--gapless">
    <div data-theme="tint--light">
      {% for item in collections.articles limit: 1 %}
      {% include cards/cardArticle %}
      {% endfor %}
    </div>
    <div data-theme="tint--dark">
      <header class="c-section__caption">
        <h4>Bookmarked</h4>
      </header>
      {% for item in collections.bookmarks limit: 5 %}
      {% include cards/cardBookmark %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="notes" class="c-section">
  <header class="c-section__header">
    <p><span>Notes.</span> Bite-sized thoughts and opinions.</p>
  </header>
  <div class="o-grid__masonry">
    {% for item in collections.notes %}
      {% include cards/cardNote %}
    {% endfor %}
  </div>  
</section>

<section class="c-section">
  <header class="c-section__caption">
    <h4>Entertainment</h4>
  </header>
  {% for item in collections.entertainment %}
  {% case item.data.type %}
    {% when 'game' %}
      {% include cards/cardGamelog %}
    {% when 'song' %}
      {% include cards/cardPlaylist %}  
    {% when 'film' %}
      {% include cards/cardWatchlist %}
  {% endcase %}
  {% endfor %}
</section>
{% endblock %}