<!doctype html>
<html lang="en" data-theme="{{ theme }}">
<head>
  {% include htmlHeader %}
</head>
<body class="o-grid">
  {% include siteHeader %}
  <main class="o-grid o-grid--{{ layout }} c-page">
    {% block layout %}{% endblock %}
  </main>
  {% include siteFooter %}
  {% include htmlFooter %} 
</body>
</html>