// =======================================================================
// Embed
// =======================================================================

figure {
	margin: 0;
}
img {
	width: 100%;
	border: 0;
}
img, object, embed {
	max-width: 100%;
	height: auto;
}
ul, ol, dd {
	margin: 0;
	padding: 0;
}
ul {
	list-style: circle;
}
ol {
  list-style: none;
  counter-reset: li;
  li {
    margin-bottom: var(--u-spacer-xxs);
    counter-increment: li;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      display: inline-block;
      margin-left: -1em;
      width: 1em;
      color: var(--c-matter-accent);
      content: counter(li);
    }
  }
}
