// =======================================================================
// Grouping
// =======================================================================

html {
  //padding: 0 var(--u-hspacer-xs); //hide on small viewports? (only on home?)
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background: var(--c-matter-accent);
  @media(min-width: $u-layout-break-m) {
    //padding: 0 var(--u-hspacer-m);
  }
}
::selection {
  color: white;
  background: var(--c-matter-accent);
}
body {
  margin: 0;
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  hypens: auto;
  &.no-scroll {
    overflow: hidden;
  }
}
article, aside, footer, header, main, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
}
