// =======================================================================
// Links
// =======================================================================

a {
  color: currentColor;
  text-decoration: underline;
  background-color: transparent;
  transition: all var(--a-duration-vfast) var(--a-timing-bezier);
  &:hover {
    color: var(--c-accent);
    text-decoration: none;
  }
  &:active {
    opacity: .65;
  }
  &:hover, &:active, &:focus {
    outline: 0;
  }
}
