// =======================================================================
// Links
// =======================================================================

a {
  text-decoration: none;
  background-color: transparent;
  &:hover, &:active, &:focus {
    outline: 0;
  }
}
