// =======================================================================
// Text
// =======================================================================

p, blockquote {
  //margin: 0 0 var(--u-vspacer-s);
  margin: 0;
}
b, strong {
  font-weight: bold;
}
cite {
  font-style: italic;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
