<article class="c-card c-card--bookmark">
  <header class="c-card__header">
    <p><a href="{{ item.url }}">{{ item.data.title }}</a></p>
  </header>
  <div class="c-card__body">
    <a href="{{ item.data.link }}">{{ item.data.source }}</a>
  </div>
</article>