// =======================================================================
// Diabetik Custom Styles
// =======================================================================

.t--diabetik {
  body, h1, cite, .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-diabetik-dark);
  }
  ::selection {
    background: var(--c-diabetik-accent);
  }
  h2, h3, h4, cite, small, .c-masthead__title a:hover, .c-nav .c-nav__items .c-nav__item a:hover, .c-nav .c-nav__items .c-nav__item a[aria-current], .c-page__body ol li::before, .c-figure__caption p, .c-blockquote__text, .c-footer {
    color: var(--c-diabetik-accent);
  }
  .c-section--accent {
    color: var(--c-diabetik-light);
    background: var(--c-diabetik-accent);
    .c-nav--secondary {
      border-bottom: 1px solid var(--c-diabetik-alpha-dark);
      .c-nav__items .c-nav__item a {
        color: var(--c-diabetik-light);
        &:hover {
          color: var(--c-diabetik-dark)
        }
      }
    }
  }
  .c-section--darken {
    color: var(--c-diabetik-accent);
    background: var(--c-diabetik-dark);
    h3, h4 {
      color: var(--c-diabetik-light);
    }
  }
  .o-grid__collage .c-card--gallery:not(.c-section--hero .c-card--gallery) {
    background: var(--c-diabetik-light);
  }
}