// =======================================================================
// Helpper Custom Styles
// =======================================================================

.t--helpper {
  body, h1, cite, .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-helpper-dark);
  }
  ::selection {
    background: var(--c-helpper-accent);
  }
  h2, h3, h4, small, .c-masthead__title a:hover, .c-nav .c-nav__items .c-nav__item a:hover, .c-nav .c-nav__items .c-nav__item a[aria-current], .c-page__body ol li::before, .c-figure__caption p, .c-footer {
    color: var(--c-helpper-accent);
  }
  .c-section--accent {
    color: var(--c-helpper-light);
    background: var(--c-helpper-accent);
    .c-nav--secondary {
      border-bottom: 1px solid var(--c-helpper-alpha-dark);
    }
    .c-nav--secondary .c-nav__items .c-nav__item a:hover {
      color: var(--c-helpper-light);
      box-shadow: inset 0 -1px 0 var(--c-helpper-light);
    }
  }
  .c-section--darken {
    color: var(--c-helpper-accent);
    background: var(--c-helpper-dark);
    h3, h4 {
      color: var(--c-helpper-light);
    }
  }
  .o-grid__collage .c-card--gallery:not(.c-section--hero .c-card--gallery) {
    background: var(--c-helpper-light);
  }
}