// =======================================================================
// Immo Brown Custom Styles
// =======================================================================

.t--immobrown {
  body, h1, cite, .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-immobrown-dark);
  }
  ::selection {
    background: var(--c-immobrown-accent);
  }
  h2, h3, h4, small, .c-masthead__title a:hover, .c-nav .c-nav__items .c-nav__item a:hover, .c-nav .c-nav__items .c-nav__item a[aria-current], .c-page__body ol li::before, .c-figure__caption p, .c-footer {
    color: var(--c-immobrown-accent);
  }
  .c-section--darken {
    color: var(--c-immobrown-accent);
    background: var(--c-immobrown-dark);
    h3, h4 {
      color: var(--c-immobrown-light);
    }
  }
  .o-grid__collage .c-card--gallery:not(.c-section--hero .c-card--gallery) {
    background: var(--c-immobrown-light);
  }
}