// =======================================================================
// Realo Custom Styles
// =======================================================================

.t--realo {
  background: var(--c-realo-accent);
  body, h1, .c-nav__item a {
    color: var(--c-realo-dark);
  }
  ::selection {
    background: var(--c-realo-accent);
  }
  h2, h3, h4, .c-cta--text:hover, .c-nav .c-nav__items .c-nav__item a:hover, .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a, .c-figure__caption, .c-footer {
    color: var(--c-realo-accent);
  }
  .c-masthead__brand a svg {
    fill: var(--c-realo-accent);
  }
  .c-section--collage .c-figure {
    background: var(--c-realo-light);
  }
}