// =======================================================================
// Scorecard Custom Styles
// =======================================================================

.t--scorecard {
  background: var(--c-scorecard-accent);
  body, h1, .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-scorecard-dark);
  }
  ::selection {
    background: var(--c-scorecard-accent);
  }
  h2, h3, h4, .c-cta--text:hover, .c-nav .c-nav__items .c-nav__item a:hover, .c-nav .c-nav__items .c-nav__item a[aria-current], .c-figure__caption, .c-footer {
    color: var(--c-scorecard-accent);
  }
  .c-masthead__brand a svg {
    fill: var(--c-scorecard-accent);
  }
  .c-section--collage .c-figure {
    background: var(--c-scorecard-light);
  }
}