// =======================================================================
// Shelf Custom Styles
// =======================================================================

.t--shelf {
  background: var(--c-shelf-accent);
  body, h1, h3, .c-nav__item a {
    color: var(--c-shelf-dark);
  }
  ::selection {
    background: var(--c-shelf-accent);
  }
  h2, h4, .c-cta--text:hover, .c-nav .c-nav__items .c-nav__item a:hover, .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a, .c-figure__caption, .c-footer {
    color: var(--c-shelf-accent);
  }
  .c-masthead__brand a svg {
    fill: var(--c-shelf-accent);
  }
  .c-section--collage .c-figure {
    background: var(--c-shelf-light);
  }
}