// =======================================================================
// Shelf Custom Styles
// =======================================================================

.t--shelf {
  body, h1, .c-nav .c-nav__items .c-nav__item a {
    color: var(--c-shelf-dark);
  }
  ::selection {
    background: var(--c-shelf-accent);
  }
  h2, h3, h4, .c-nav .c-nav__items .c-nav__item a:hover, .c-nav .c-nav__items .c-nav__item a[aria-current], .c-figure__caption, .c-footer {
    color: var(--c-shelf-accent);
  }
  .c-section--darken {
    color: var(--c-shelf-accent);
    background: var(--c-shelf-dark);
    h3, h4 {
      color: var(--c-shelf-light);
    }
  }
  .o-grid__collage .c-card--gallery:not(.c-section--hero .c-card--gallery) {
    background: var(--c-shelf-light);
  }
}